<ng-template #workmodal style="max-width: 100%">
  <div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div>

      <div class="text-center"><br>
        <h4>Werk</h4>
      </div>


    </div>
    <div class="modal-body">
      <app-work></app-work>
    </div>
  </div>

</ng-template>

<nav id="top" class="navbar navbar-expand-lg navbar-light fixed-top fixed-top" data-navbar="sticky">
  <div class="container">
    <div class="row">

      <section class="col-lg-5 navbar-mobile">
        <nav class="nav nav-navbar mr-auto">
          <a pageScroll href="#services" class="nav-link">Diensten</a>
          <a pageScroll href="#about" class="nav-link">Over</a>
          <a pageScroll href="#work" class="nav-link">Werk</a>
          <a pageScroll href="#contact" class="nav-link">Contact</a>
        </nav>
      </section>

      <div class="col-auto col-lg-auto1 mr-auto mx-lg-auto d-flex">
        <button class="navbar-toggler" type="button">&#9776;</button>
        <!-- <a class="navbar-brand mr-0" href="">
          <img class="logo-dark" src="../assets/img/logo/dropbox.png" alt="logo">
          <img class="logo-light" src="../assets/img/logo/dropbox.png" alt="logo">
        </a> -->
      </div>

      <div class="col-auto col-lg-5 text-right">
        <!-- <a class="btn btn-sm btn-round btn-outline-success d-none d-lg-inline-block mr-2" href="">Sign in</a> -->
        <a class="fa fa-github fa-2x" href="https://github.com/eddieedease" target="_blank"></a>
      </div>

    </div>
  </div>
</nav><!-- /.navbar -->


<!-- Header -->
<header class="header headd text-white h-fullscreen pb-0 overflow-hidden">

  <div class=" headd"></div>
  <!-- <canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas> -->
  <div class="container text-center"><br>
    <div class="row align-items-center h-90">

      <div class="col-md-8 mx-auto">
        
        <img class="logo-dark" src="assets/logo1b.png" alt="logo">
        <h2 style="color:#132163 !important">Edease</h2>
        

        <!-- <a class="btn btn-xl btn-round btn-primary px-8" href="">Try For Free</a> -->
      </div>

      <div class="col-md-8 mx-auto align-self-end">
        <img src="assets/laptop-2.png" alt="img" data-aos="fade-up">
        <br><p class="lead mt-4 mb-3">Webdevelopment & multimedia-design</p> <br><br><br>
        <div pageScroll href="#services" style="background-color: #132163" class="btn btn-primary btn-round"><i
            class="fa fa-arrow-down"></i></div>
      </div>

    </div>
  </div>
</header><!-- /.header -->

<!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Teamwork To The Next Level
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
<section class="section dienst">
  <div id="services" class="container">
    <header class="section-header">
      <p style="color:#f1f1f1"><b>Maatwerk voor het web!</b></p>

    </header>

    <div class="row gap-y text-center">
      <div class="col-md-4 col-sm-12">
        <div class="servicebox">
          <div class="service-icon">
            <span><i class="fa fa-code"></i></span>
          </div>
          <h3 class="title">Webdevelopment</h3>
          <p style="color: white" class="description">Moderne websites & applicaties die razendsnel in de browser werken. Front- & Backend!
          </p>
        </div>
      </div>




      <div class="col-md-4 col-sm-12">
        <div class="servicebox">
          <div class="service-icon">
            <span><i class="fa fa-window-restore"></i></span>
          </div>
          <h3 class="title">Ontwerp</h3>
          <p style="color: white" class="description">Responsive ontwerpen voor het web. Maar ook drukwerk en animaties. Stijlvol en strak!
          </p>
        </div>
      </div>




      <div class="col-md-4 col-sm-12">
        <div class="servicebox">
          <div class="service-icon">
            <span><i class="fa fa-gamepad"></i></span>
          </div>
          <h3 class="title">Games</h3>
          <p style="color: white" class="description">HTML5 games, rechtstreeks vanuit de browser!
          </p>
        </div>
      </div>


    </div>
  </div>







</section>
<!-- Main Content -->
<main class="main-content">

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Features
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section class="section bg-gray overflow-hidden">
    <div class="container-fluid">
      <div class="row gap-y align-items-center">

        <div class="col-md-6  text-center">
          <img style="border:0px" src="assets/shot-2.png" alt="..." data-aos="fade-right">
        </div>


        <div id="about" class="col-md-4 mx-auto">
          <h3 style="color:#215379 !important">Over</h3>
          <p>Welkom, als ZZP'er ondersteunt Edease bedrijven met het bedenken, ontwerpen en realiseren van multimediaoplossingen. Ik heb al 10+ jaar ervaring op het gebied van Webdevelopment & Design en heb al voor vele tevreden klanten mogen werken.
            <br><br>
            Dit varieert van het opzetten voor een website, opmaken van flyers, productie van een animatie, tot het maken van een game. Deze brede inzetbaarheid is
            mijn kracht. 
            <br><br>
            Neem gerust <a pageScroll href="#contact" style="color:blue !important">contact</a> op als je denkt dat we iets voor elkaar kunnen betekenen.</p>
            
        </div>

      </div>
    </div>
  </section>



  <section class="section overflow-hidden" style='background-color:#1b293f;color:white'>
    <div class="container-fluid">
      <div class="row gap-y align-items-center">

        <div id="verder1" class="col-md-4 mx-auto text-center">
          <img style="border:0px" src="assets/shot-3.png" alt="..." data-aos="fade-left">
        </div>


        <div class="col-md-4 mx-auto order-md-first">
          <h3 style="color:white">Maatwerk</h3>
          <p>Het wereld wijde web is veel veranderd de afgelopen tijd. Ik heb al vele jaren ervaring met alles wat zich
            afspeelt op het web, en pas de nieuwste en laatste technieken toe in mijn werk. De sites/applicaties die ik
            codeer kunnen op elk device worden bekeken en zijn razendsnel. <br><br>Als developer ontwikkel ik full-stack. Dat
            wil zeggen dat ik zowel de front-end als de back-end kan verzorgen. Compleet zelfstandig, of ik kan
            meedraaien in een team.</p>
          <a>
            <hr></a>
        </div>
      </div>
    </div>
  </section>

  <section class="section overflow-hidden workk">
    <div id="work" class="container">
      <header id="verder2" class="section-header">
        <h2 style="color:white">Werk</h2>
      </header>


      <!-- <div data-provide="shuffle">
        <ul class="nav nav-center nav-bold nav-uppercase nav-slash mb-7" data-shuffle="filter">
          <li class="nav-item">
            <a class="nav-link active" href="#" data-shuffle="button">Alles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-shuffle="button" data-group="app">Applicaties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-shuffle="button" data-group="video">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-shuffle="button" data-group="design">Ontwerp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-shuffle="button" data-group="games">Games</a>
          </li>
        </ul> -->



      <div class="row gap-y gap-2">


        <div *ngFor="let work of workArray| paginate: { itemsPerPage: 12, currentPage: p } ;let i = index "
          class="col-6 col-lg-3" [attr.data-groups]="work.tags">
          <a (click)="openModal(workmodal, i)" class="portfolio-1"
            style="cursor: pointer;border:1px; border-radius: 10px">
            <img [src]="work.cover" style="cursor: pointer;border:1px">
            <div class="portfolio-detail">
              <h5>{{work.title}}</h5>
            </div>
          </a>
          <br>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Vorige" nextLabel="Volgende">
        </pagination-controls>
      </div>
      <!-- </div> -->


    </div>
  </section>



  <section class="section bg-gray overflow-hidden">
    <div class="container-fluid">
      <div class="row gap-y align-items-center">

        <div class="col-md-4 mx-auto text-center">
          <img style="border:0px" src="assets/shot-4.png" alt="..." data-aos="fade-right">
        </div>


        <div class="col-md-4 mx-auto">
          <h3 style="color:#215379 !important">Oplossingsgericht</h3>
          <p>Ik denk graag mee over oplossingen waar bedrijven tegenaan lopen. Gebruiksvriendelijkheid en privacybescherming staat daarmee bij
            mij hoog in het vaandel. Geen poespas dus, de eindgebruiker staat centraal. Qua ontwerp houd ik alles het
            liefst lekker modern en strak. 
          <br><br>Verder is het een kwestie van de juiste tools gebruiken voor ieder project,
          en ik ben niet bang om iets nieuws te leren mocht ik iets nog niet kennen.
        </p>
          <a>
            <hr></a>
        </div>

      </div>
    </div>
  </section>





  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Pricing
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <!-- <section class="section bg-gray">
    <div class="container">
      <div class="row gap-y align-items-center">

        <div class="col-md-4">
          <p class="lead-7 text-dark fw-600 lh-2">Do more with Dropbox Business</p>

          <div class="btn-group btn-group-toggle my-7" data-toggle="buttons">
            <label class="btn btn-round btn-outline-dark w-150">
              <input type="radio" name="pricing" value="monthly" autocomplete="off"> Monthly
            </label>
            <label class="btn btn-round btn-outline-dark w-150 active">
              <input type="radio" name="pricing" value="yearly" autocomplete="off" checked> Yearly
            </label>
          </div>

          <p class="lead">Our prices are very easy to understand. There's not any extra or hidden fee. You just pay what is listed here.</p>
          <p class="fw-400"><a href="">View full pricing details <i class="ti-arrow-right fs-10 ml-2"></i></a></p>
        </div>


        <div class="col-md-7 ml-auto">
          <div class="row gap-y">

            <div class="col-md-6">
              <div class="card text-center shadow-1 hover-shadow-9">
                <div class="card-img-top text-white bg-img h-200 d-flex align-items-center" style="background-image: url(../assets/img/thumb/3.jpg)" data-overlay="1">
                  <div class="position-relative w-100">
                    <p class="lead-4 fw-600 ls-1 mb-0">Standard</p>
                  </div>
                </div>
                <div class="card-body py-6">
                  <p class="lead-7 fw-600 text-dark mb-0">
                    
                  </p>
                  <p class="text-lighter">/ user / month</p>
                  <p>
                    2 TB (2048 GB) of space<br>
                    120 days of file recovery<br>
                    Office 365 integration<br>
                    Live chat support<br>
                  </p>
                  <br>
                  <div>
                    <a class="btn btn-round btn-outline-secondary w-200" href="" data-bind-href="pricing" data-monthly="#monthly" data-yearly="#yearly">Sign up</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card text-center shadow-1 hover-shadow-9">
                <div class="card-img-top text-white bg-img h-200 d-flex align-items-center" style="background-image: url(../assets/img/thumb/11.jpg)" data-overlay="2">
                  <div class="position-relative w-100">
                    <p class="lead-4 fw-600 ls-1 mb-0">Advanced</p>
                   
                  </div>
                </div>
                <div class="card-body py-6">
                  <p class="lead-7 fw-600 text-dark mb-0">
                    
                  </p>
                  <p class="text-lighter">/ user / month</p>
                  <p>
                    <strong>Everything in Standard</strong><br>
                    As much space as needed<br>
                    Advanced admin controls<br>
                    Business hours phone support<br>
                  </p>
                  <br>
                  <div>
                    <a class="btn btn-round btn-secondary w-200" href="" data-bind-href="pricing" data-monthly="#monthly" data-yearly="#yearly">Sign up</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section> -->


  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Partners
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->


  <section class="section" style="background-color: #215379">
    <div id="verder3" class="container">
      <header class="section-header">
        <h2 style="color:white">Meer info</h2>
      </header>


      <div class="row">
        <div class="col-md-8 mx-auto">

          <div class="accordion accordion-connected accordion-arrow-right" id="accordion-1">
            <div class="card">
              <h5 class="card-title">
                <a data-toggle="collapse" href="#collapse-1-1">Wat is je toolset?</a>
              </h5>

              <div id="collapse-1-1" class="collapse" data-parent="#accordion-1">
                <div class="card-body">
                  <span>Edease heeft een licentie op
                    <b>Adobe Cloud CC</b>, en kan ik al jaren overweg met programma's zoals Photoshop, Illustrator,
                    Indesign en
                    After Effects.
                    <br>
                    <br>Voor webdevelopment maak ik veelal gebruik van
                    <b>Angular</b> voor de front-end. Hiermee maak ik een <b>SPA (Single Page Application)</b> die
                    razendsnel in alle browsers
                    werkt. Ontwikkeling verloopt via NODEJS. Voor back-end werk (bijvoorbeeld het schrijven van een API)
                    maak
                    ik vooral gebruik van PHP en MySQL. </span>
                  <img src="assets/toolset.png">
                </div>
              </div>
            </div>


            <div class="card">
              <h5 class="card-title">
                <a class="collapsed" data-toggle="collapse" href="#collapse-1-2">Werk je alleen?</a>
              </h5>

              <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                <div class="card-body">
                  Als ZZP-er ben ik een one-man-army. Maar ik werk graag samen in een team.
                </div>
              </div>
            </div>





          </div>

        </div>
      </div>

    </div>
  </section>


  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | CTA
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="contact" class="section bg-gray text-center">
    <div class="container">

      <h2 class="mb-6" style="color:#215379 !important"><strong>Contact opnemen</strong></h2>
      <a class="btn btn-lg btn-round btn-primary" HREF="mailto:eddie@edease.nl">Stuur een mailtje</a>
      <br><a style="color:blue" href="mailto:eddie@edease.nl">eddie@edease.nl</a><br>
      <hr class="w-5 my-7">
      <h4 class="mb-6" style="color:#215379 !important"><strong>Bedankt</strong></h4>
      <p class="lead text-muted" style="color:#215379">dat je een kijkje hebt genomen op de site <i
          class="fa fa-heart"></i></p>

    </div>
  </section>


</main>


<!-- Footer -->
<footer class="footer text-white bt-0 py-7"
  style="background-image: linear-gradient(135deg, #4481eb 0%, #04befe 100%);">
  <div class="container">
    <div class="row align-items-center">
      <!-- 
      <div class="col-md-6">
        <div class="nav nav-bold nav-uppercase justify-content-center justify-content-md-end">
          <a class="nav-link" href="">About</a>
          <a class="nav-link" href="">Blog</a>
          <a class="nav-link" href="">Contact</a>
        </div>
      </div>

      <div class="col-md-6 text-center text-md-left mt-5 mt-md-0">
        <div class="social social-bg-dark">
          <a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
          <a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
          <a class="social-instagram" href=""><i class="fa fa-instagram"></i></a>
          <a class="social-youtube" href=""><i class="fa fa-youtube"></i></a>
          <a class="social-dribbble" href=""><i class="fa fa-dribbble"></i></a>
        </div>
      </div> -->

      <div class="col-12 text-center">
        <br>
        <small>© Edease 2019 </small>
        <small>KvK Nummer: 58764852</small>
      </div>

    </div>
  </div>
</footer><!-- /.footer -->
