.modal-dialog {
  max-width: 100% !important;
}




body {

  margin-top: 50px !important;

}

h3,
p {

  margin: 0;

}

.servicebox {

  text-align: center;

}

.servicebox .service-icon {

  display: inline-block;

  width: 75px;

  height: 75px;

  border-radius: 10px;

  background-color: #06beb6;

  margin-bottom: 30px;

}

.servicebox .service-icon i.fa {
  line-height: 75px;

  color: #ffffff;

  font-size: 35px;

  transition: all 0.3s ease 0s;

}

.servicebox:hover .service-icon i.fa {

  transform: rotateY(180deg);
  color: #215379;

}

.servicebox .title {

  color: #333;

  border-bottom: 1px solid #132162;

  display: block;

  line-height: 30px;

  margin: 0 auto 20px;

  padding-bottom: 20px;

  position: relative;

  text-align: center;

  width: 190px;

}

.servicebox .title:before,

.servicebox .title:after {

  background: #FFF;

  border-radius: 100%;

  bottom: -5px;

  content: "";

  height: 10px;

  margin: 0 -5px 0 0;

  position: absolute;

  right: 50%;

  transition: all 0.4s ease 0s;

  width: 10px;

}

.servicebox .title:before {

  left: 50%;

  margin: 0 0 0 -5px;

}

.servicebox:hover .title:before {

  left: 100%;

}

.servicebox:hover .title:after {

  right: 100%;

}

.servicebox .description {

  color: grey;

  padding: 0 15px;

  font: 14px;

  line-height: 27px;

  transition: all 300ms ease 0s;

}



@media screen and (max-width:1000px) {

  .servicebox {

    margin-bottom: 30px;

  }

}




/* set Color */

/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.dienst {
  background-color: #215379;
  color: white !important;
}

.dienst h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: white !important;
}

.workk {
  width: 100wh;
  color: #272a37;
  text-align: center;
  font-family: sans-serif;
  background-color: #215379;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 50% 100%
  }

  100% {
    background-position: 50% 0%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
 
h1 {
  max-width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  padding: 8px 15px;
  background-color: #215d8a;
}

a {
  color: #ffffff;
  text-decoration: none;
}


.headd{
 
}
.fullscreen-bg {

}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    /* background: url('../img/videoframe.jpg') center center / cover no-repeat; */
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.login,
.image {
  min-height: 30vh;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}





.banner {
	
	position:relative;
	width:100%;
	overflow: hidden;
}
.banner video {
    width: 100%;
    position: absolute;
    	overflow: hidden;
}
.banner-innner {
    padding: 200px 0;
}


.banner-left {
    text-align: center;
    margin: 0 auto;
}

.overlay {
    background: #ffffffa8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

}

.banner-left h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
	  margin-bottom:25px;
}

.banner-left p {
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 28px;
  	margin-bottom:30px;
}

.custom-btn {
    width: 100%;
    background: #E91E63;
    color: #fff;
    letter-spacing: 2.5px;
	transition:0.8 ease;
}

.banner-left a {
    background: #e91e63;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2.5px;
    padding: 8px 35px;
    border-radius: 4px;
	  transition:0.8 ease;
}

.banner-left a:hover{
	letter-spacing:3px;
	transition:0.8 ease;
}

.custom-btn:hover{
	letter-spacing:3px;
	transition:0.8 ease;
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 2px #000238;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}





@media only screen and (max-width: 800px ){
	.banner-left h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-shadow: 1px 2px #215d8a;
}
.banner{
	padding:120px 0;
	height: auto;
}

.nav-color{
	background:#000;
}
.navbar-light .navbar-nav .nav-link{
	padding-left:0;
}
.banner-innner {
    padding: 10px 0;
}
}




/* html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
} */

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1805px 1427px #2045ac41 , 1654px 921px #2045ac41 , 573px 1544px #2045ac41 , 495px 726px #2045ac41 , 60px 85px #2045ac41 , 1970px 301px #2045ac41 , 1829px 1565px #2045ac41 , 1618px 1421px #2045ac41 , 1235px 1275px #2045ac41 , 581px 769px #2045ac41 , 67px 1344px #2045ac41 , 1047px 786px #2045ac41 , 684px 222px #2045ac41 , 957px 1309px #2045ac41 , 958px 1086px #2045ac41 , 364px 1239px #2045ac41 , 1897px 1880px #2045ac41 , 1456px 1766px #2045ac41 , 85px 1048px #2045ac41 , 1399px 614px #2045ac41 , 118px 389px #2045ac41 , 295px 447px #2045ac41 , 708px 1928px #2045ac41 , 906px 267px #2045ac41 , 364px 1616px #2045ac41 , 184px 471px #2045ac41 , 605px 612px #2045ac41 , 1184px 1723px #2045ac41 , 1577px 1708px #2045ac41 , 1305px 1526px #2045ac41 , 655px 301px #2045ac41 , 619px 1861px #2045ac41 , 1524px 437px #2045ac41 , 241px 1664px #2045ac41 , 80px 1472px #2045ac41 , 1611px 1405px #2045ac41 , 1024px 1746px #2045ac41 , 1337px 38px #2045ac41 , 221px 594px #2045ac41 , 1699px 205px #2045ac41 , 926px 219px #2045ac41 , 98px 1913px #2045ac41 , 1507px 1470px #2045ac41 , 244px 594px #2045ac41 , 454px 288px #2045ac41 , 395px 570px #2045ac41 , 85px 984px #2045ac41 , 793px 1842px #2045ac41 , 77px 793px #2045ac41 , 528px 1487px #2045ac41 , 145px 1116px #2045ac41 , 1590px 1338px #2045ac41 , 1982px 594px #2045ac41 , 1995px 1793px #2045ac41 , 1326px 1014px #2045ac41 , 1381px 1993px #2045ac41 , 119px 263px #2045ac41 , 943px 1471px #2045ac41 , 1533px 1187px #2045ac41 , 1228px 953px #2045ac41 , 836px 1914px #2045ac41 , 1897px 922px #2045ac41 , 1150px 819px #2045ac41 , 406px 1116px #2045ac41 , 339px 811px #2045ac41 , 1179px 1899px #2045ac41 , 789px 1790px #2045ac41 , 1278px 761px #2045ac41 , 1927px 1208px #2045ac41 , 1654px 1219px #2045ac41 , 227px 360px #2045ac41 , 1539px 1563px #2045ac41 , 1721px 651px #2045ac41 , 511px 997px #2045ac41 , 1438px 1199px #2045ac41 , 149px 555px #2045ac41 , 13px 650px #2045ac41 , 1627px 1903px #2045ac41 , 1793px 1184px #2045ac41 , 1896px 382px #2045ac41 , 668px 1761px #2045ac41 , 1778px 287px #2045ac41 , 722px 1173px #2045ac41 , 798px 1692px #2045ac41 , 1236px 79px #2045ac41 , 824px 593px #2045ac41 , 1140px 1316px #2045ac41 , 406px 205px #2045ac41 , 249px 1423px #2045ac41 , 364px 1826px #2045ac41 , 1711px 1057px #2045ac41 , 1430px 1464px #2045ac41 , 1268px 168px #2045ac41 , 761px 699px #2045ac41 , 1807px 1562px #2045ac41 , 1523px 984px #2045ac41 , 252px 986px #2045ac41 , 265px 596px #2045ac41 , 535px 507px #2045ac41 , 873px 515px #2045ac41 , 79px 362px #2045ac41 , 1348px 1683px #2045ac41 , 939px 1472px #2045ac41 , 10px 1240px #2045ac41 , 1370px 226px #2045ac41 , 1923px 1440px #2045ac41 , 1790px 1328px #2045ac41 , 1387px 960px #2045ac41 , 1589px 150px #2045ac41 , 432px 1866px #2045ac41 , 917px 1599px #2045ac41 , 82px 421px #2045ac41 , 389px 930px #2045ac41 , 227px 794px #2045ac41 , 409px 22045ac41px #2045ac41 , 226px 877px #2045ac41 , 1096px 95px #2045ac41 , 1135px 1324px #2045ac41 , 1980px 825px #2045ac41 , 380px 112px #2045ac41 , 429px 1975px #2045ac41 , 128px 1676px #2045ac41 , 1435px 1467px #2045ac41 , 1464px 813px #2045ac41 , 1571px 792px #2045ac41 , 1162px 613px #2045ac41 , 882px 1903px #2045ac41 , 957px 1369px #2045ac41 , 1921px 412px #2045ac41 , 1300px 324px #2045ac41 , 1269px 1858px #2045ac41 , 550px 493px #2045ac41 , 1278px 1304px #2045ac41 , 796px 88px #2045ac41 , 482px 30px #2045ac41 , 1757px 636px #2045ac41 , 1977px 193px #2045ac41 , 1771px 1792px #2045ac41 , 23px 297px #2045ac41 , 57px 1997px #2045ac41 , 272px 1228px #2045ac41 , 276px 785px #2045ac41 , 1741px 943px #2045ac41 , 536px 929px #2045ac41 , 178px 1818px #2045ac41 , 223px 673px #2045ac41 , 86px 1461px #2045ac41 , 1791px 723px #2045ac41 , 875px 425px #2045ac41 , 1220px 391px #2045ac41 , 376px 1604px #2045ac41 , 449px 1411px #2045ac41 , 746px 1408px #2045ac41 , 717px 123px #2045ac41 , 1848px 1975px #2045ac41 , 410px 198px #2045ac41 , 1765px 340px #2045ac41 , 594px 1584px #2045ac41 , 1735px 352px #2045ac41 , 1679px 1187px #2045ac41 , 1230px 101px #2045ac41 , 1286px 2px #2045ac41 , 1185px 444px #2045ac41 , 469px 1470px #2045ac41 , 843px 129px #2045ac41 , 1523px 719px #2045ac41 , 1118px 1557px #2045ac41 , 1561px 289px #2045ac41 , 1633px 269px #2045ac41 , 1147px 261px #2045ac41 , 818px 1593px #2045ac41 , 1818px 673px #2045ac41 , 1262px 1802px #2045ac41 , 217px 580px #2045ac41 , 954px 1739px #2045ac41 , 1764px 188px #2045ac41 , 1434px 195px #2045ac41 , 1587px 1411px #2045ac41 , 238px 616px #2045ac41 , 485px 70px #2045ac41 , 759px 779px #2045ac41 , 1723px 1792px #2045ac41 , 825px 1140px #2045ac41 , 1822px 394px #2045ac41 , 655px 608px #2045ac41 , 768px 896px #2045ac41 , 1049px 1868px #2045ac41 , 1301px 1496px #2045ac41 , 603px 11px #2045ac41 , 159px 971px #2045ac41 , 1844px 509px #2045ac41 , 867px 1457px #2045ac41 , 153px 1926px #2045ac41 , 778px 333px #2045ac41 , 1671px 1641px #2045ac41 , 974px 880px #2045ac41 , 580px 1441px #2045ac41 , 224px 960px #2045ac41 , 1985px 1459px #2045ac41 , 774px 1194px #2045ac41 , 273px 1032px #2045ac41 , 1854px 581px #2045ac41 , 207px 951px #2045ac41 , 1095px 1210px #2045ac41 , 249px 1703px #2045ac41 , 66px 1905px #2045ac41 , 837px 1973px #2045ac41 , 1774px 1274px #2045ac41 , 1345px 1988px #2045ac41 , 1938px 1539px #2045ac41 , 1405px 1672px #2045ac41 , 976px 1284px #2045ac41 , 764px 1281px #2045ac41 , 1184px 1117px #2045ac41 , 1849px 411px #2045ac41 , 877px 799px #2045ac41 , 1775px 681px #2045ac41 , 396px 258px #2045ac41 , 172px 975px #2045ac41 , 897px 430px #2045ac41 , 1369px 43px #2045ac41 , 151px 46px #2045ac41 , 281px 1340px #2045ac41 , 146px 1295px #2045ac41 , 1727px 544px #2045ac41 , 695px 739px #2045ac41 , 1810px 1655px #2045ac41 , 537px 1385px #2045ac41 , 235px 966px #2045ac41 , 637px 1398px #2045ac41 , 234px 708px #2045ac41 , 329px 68px #2045ac41 , 1709px 1679px #2045ac41 , 1155px 1171px #2045ac41 , 160px 1197px #2045ac41 , 1534px 1413px #2045ac41 , 817px 1407px #2045ac41 , 464px 1633px #2045ac41 , 1974px 439px #2045ac41 , 1903px 1091px #2045ac41 , 1497px 1922px #2045ac41 , 1101px 93px #2045ac41 , 1315px 563px #2045ac41 , 1691px 1819px #2045ac41 , 40px 622px #2045ac41 , 1953px 621px #2045ac41 , 378px 541px #2045ac41 , 165px 527px #2045ac41 , 150px 47px #2045ac41 , 480px 1319px #2045ac41 , 1375px 3px #2045ac41 , 1122px 8px #2045ac41 , 244px 928px #2045ac41 , 1526px 568px #2045ac41 , 203px 1927px #2045ac41 , 27px 84px #2045ac41 , 105px 450px #2045ac41 , 1091px 196px #2045ac41 , 675px 1567px #2045ac41 , 1853px 1847px #2045ac41 , 1699px 1008px #2045ac41 , 634px 1239px #2045ac41 , 639px 1035px #2045ac41 , 183px 118px #2045ac41 , 1348px 641px #2045ac41 , 1188px 1058px #2045ac41 , 4px 1386px #2045ac41 , 606px 1546px #2045ac41 , 787px 690px #2045ac41 , 1667px 765px #2045ac41 , 254px 1151px #2045ac41 , 1306px 192px #2045ac41 , 1299px 155px #2045ac41 , 1272px 888px #2045ac41 , 1143px 294px #2045ac41 , 1912px 97px #2045ac41 , 723px 1948px #2045ac41 , 891px 1178px #2045ac41 , 1510px 1136px #2045ac41 , 1054px 225px #2045ac41 , 1500px 1554px #2045ac41 , 1731px 1596px #2045ac41 , 1849px 1207px #2045ac41 , 1045px 400px #2045ac41 , 849px 405px #2045ac41 , 1847px 1214px #2045ac41 , 1847px 59px #2045ac41 , 718px 344px #2045ac41 , 1802px 958px #2045ac41 , 1661px 1828px #2045ac41 , 1765px 1982px #2045ac41 , 1661px 486px #2045ac41 , 239px 266px #2045ac41 , 1942px 846px #2045ac41 , 1586px 1999px #2045ac41 , 1304px 875px #2045ac41 , 1677px 609px #2045ac41 , 295px 928px #2045ac41 , 620px 1090px #2045ac41 , 803px 865px #2045ac41 , 251px 1657px #2045ac41 , 1078px 912px #2045ac41 , 1487px 1997px #2045ac41 , 367px 299px #2045ac41 , 1576px 962px #2045ac41 , 947px 1228px #2045ac41 , 587px 1417px #2045ac41 , 1912px 321px #2045ac41 , 691px 89px #2045ac41 , 1655px 1326px #2045ac41 , 1127px 222px #2045ac41 , 1375px 1786px #2045ac41 , 1370px 1684px #2045ac41 , 1740px 805px #2045ac41 , 172px 336px #2045ac41 , 1548px 443px #2045ac41 , 1414px 57px #2045ac41 , 26px 1612px #2045ac41 , 835px 1341px #2045ac41 , 1331px 382px #2045ac41 , 593px 1864px #2045ac41 , 270px 1544px #2045ac41 , 1692px 461px #2045ac41 , 427px 843px #2045ac41 , 1786px 102px #2045ac41 , 283px 1167px #2045ac41 , 203px 1259px #2045ac41 , 993px 599px #2045ac41 , 970px 1225px #2045ac41 , 1912px 1837px #2045ac41 , 1497px 1308px #2045ac41 , 741px 1199px #2045ac41 , 1821px 428px #2045ac41 , 696px 442px #2045ac41 , 564px 790px #2045ac41 , 1605px 1621px #2045ac41 , 1285px 732px #2045ac41 , 55px 275px #2045ac41 , 139px 1301px #2045ac41 , 1119px 914px #2045ac41 , 1573px 1044px #2045ac41 , 1064px 1082px #2045ac41 , 510px 1019px #2045ac41 , 1621px 1899px #2045ac41 , 273px 955px #2045ac41 , 1071px 548px #2045ac41 , 1638px 136px #2045ac41 , 1050px 1601px #2045ac41 , 586px 1085px #2045ac41 , 836px 510px #2045ac41 , 733px 354px #2045ac41 , 627px 1885px #2045ac41 , 636px 1489px #2045ac41 , 299px 1806px #2045ac41 , 1679px 216px #2045ac41 , 843px 1995px #2045ac41 , 399px 1639px #2045ac41 , 1462px 913px #2045ac41 , 1372px 603px #2045ac41 , 1726px 44px #2045ac41 , 140px 1692px #2045ac41 , 1951px 1326px #2045ac41 , 576px 1229px #2045ac41 , 435px 683px #2045ac41 , 694px 1688px #2045ac41 , 519px 1065px #2045ac41 , 63px 240px #2045ac41 , 1190px 38px #2045ac41 , 1137px 1304px #2045ac41 , 134px 516px #2045ac41 , 1249px 927px #2045ac41 , 1531px 365px #2045ac41 , 477px 310px #2045ac41 , 471px 1174px #2045ac41 , 1541px 391px #2045ac41 , 654px 1686px #2045ac41 , 143px 1380px #2045ac41 , 1546px 1129px #2045ac41 , 977px 339px #2045ac41 , 69px 1858px #2045ac41 , 1247px 1601px #2045ac41 , 1448px 160px #2045ac41 , 1158px 1929px #2045ac41 , 1753px 1510px #2045ac41 , 1412px 1288px #2045ac41 , 679px 1599px #2045ac41 , 1671px 1749px #2045ac41 , 494px 1526px #2045ac41 , 204px 1210px #2045ac41 , 1986px 1985px #2045ac41 , 1995px 915px #2045ac41 , 1878px 1562px #2045ac41 , 1969px 228px #2045ac41 , 1197px 930px #2045ac41 , 1698px 1136px #2045ac41 , 1176px 1870px #2045ac41 , 775px 1923px #2045ac41 , 44px 1027px #2045ac41 , 1460px 72px #2045ac41 , 1489px 158px #2045ac41 , 1836px 86px #2045ac41 , 1153px 1855px #2045ac41 , 1611px 29px #2045ac41 , 1824px 1096px #2045ac41 , 18px 581px #2045ac41 , 1459px 29px #2045ac41 , 1057px 475px #2045ac41 , 156px 1896px #2045ac41 , 426px 1540px #2045ac41 , 992px 1810px #2045ac41 , 1943px 27px #2045ac41 , 186px 195px #2045ac41 , 1991px 183px #2045ac41 , 463px 827px #2045ac41 , 1135px 1464px #2045ac41 , 1282px 751px #2045ac41 , 1149px 1668px #2045ac41 , 108px 343px #2045ac41 , 722px 1542px #2045ac41 , 1085px 1343px #2045ac41 , 568px 159px #2045ac41 , 292px 363px #2045ac41 , 537px 516px #2045ac41 , 1097px 365px #2045ac41 , 1653px 1755px #2045ac41 , 602px 725px #2045ac41 , 1917px 1967px #2045ac41 , 771px 14px #2045ac41 , 623px 559px #2045ac41 , 842px 1477px #2045ac41 , 1901px 861px #2045ac41 , 1665px 1395px #2045ac41 , 448px 239px #2045ac41 , 1257px 1469px #2045ac41 , 1904px 1644px #2045ac41 , 838px 280px #2045ac41 , 955px 225px #2045ac41 , 1110px 234px #2045ac41 , 265px 96px #2045ac41 , 1413px 1754px #2045ac41 , 1828px 467px #2045ac41 , 1650px 558px #2045ac41 , 638px 1313px #2045ac41 , 918px 1393px #2045ac41 , 960px 474px #2045ac41 , 997px 903px #2045ac41 , 995px 1402px #2045ac41 , 542px 1446px #2045ac41 , 610px 14px #2045ac41 , 1123px 1852px #2045ac41 , 384px 1027px #2045ac41 , 711px 1253px #2045ac41 , 969px 384px #2045ac41 , 117px 1730px #2045ac41 , 704px 223px #2045ac41 , 1034px 747px #2045ac41 , 410px 765px #2045ac41 , 1508px 61px #2045ac41 , 1439px 928px #2045ac41 , 1723px 1323px #2045ac41 , 1215px 1440px #2045ac41 , 1173px 901px #2045ac41 , 336px 1095px #2045ac41 , 1727px 104px #2045ac41 , 738px 899px #2045ac41 , 759px 1068px #2045ac41 , 545px 1800px #2045ac41 , 1780px 708px #2045ac41 , 667px 1947px #2045ac41 , 1046px 867px #2045ac41 , 422px 138px #2045ac41 , 496px 382px #2045ac41 , 1367px 1741px #2045ac41 , 573px 142px #2045ac41 , 1602px 1107px #2045ac41 , 1516px 1187px #2045ac41 , 1169px 310px #2045ac41 , 1830px 1986px #2045ac41 , 549px 1375px #2045ac41 , 889px 1895px #2045ac41 , 378px 1204px #2045ac41 , 917px 1899px #2045ac41 , 1416px 1483px #2045ac41 , 1910px 941px #2045ac41 , 429px 1526px #2045ac41 , 803px 768px #2045ac41 , 1008px 651px #2045ac41 , 413px 1850px #2045ac41 , 1774px 1174px #2045ac41 , 808px 1739px #2045ac41 , 1990px 1928px #2045ac41 , 1790px 845px #2045ac41 , 1079px 1752px #2045ac41 , 438px 1766px #2045ac41 , 455px 32px #2045ac41 , 1085px 684px #2045ac41 , 1240px 683px #2045ac41 , 1868px 1240px #2045ac41 , 301px 968px #2045ac41 , 314px 480px #2045ac41 , 881px 952px #2045ac41 , 389px 1098px #2045ac41 , 405px 1934px #2045ac41 , 1382px 1421px #2045ac41 , 1109px 66px #2045ac41 , 1270px 1045px #2045ac41 , 716px 782px #2045ac41 , 671px 1987px #2045ac41 , 1230px 1084px #2045ac41 , 1827px 1030px #2045ac41 , 510px 1943px #2045ac41 , 1344px 1761px #2045ac41 , 1254px 123px #2045ac41 , 990px 1814px #2045ac41 , 1646px 329px #2045ac41 , 1286px 544px #2045ac41 , 1715px 824px #2045ac41 , 1731px 1538px #2045ac41 , 1952px 1574px #2045ac41 , 925px 1823px #2045ac41 , 1480px 1817px #2045ac41 , 1282px 1081px #2045ac41 , 1755px 1233px #2045ac41 , 445px 1048px #2045ac41 , 1164px 1459px #2045ac41 , 1696px 59px #2045ac41 , 432px 1975px #2045ac41 , 1216px 640px #2045ac41 , 1581px 609px #2045ac41 , 1845px 1461px #2045ac41 , 1627px 534px #2045ac41 , 235px 292px #2045ac41 , 1284px 1844px #2045ac41 , 469px 796px #2045ac41 , 1589px 1363px #2045ac41 , 1171px 508px #2045ac41 , 1753px 409px #2045ac41 , 1544px 1791px #2045ac41 , 547px 184px #2045ac41 , 1729px 1730px #2045ac41 , 494px 1719px #2045ac41 , 1239px 1140px #2045ac41 , 545px 562px #2045ac41 , 740px 698px #2045ac41 , 1866px 467px #2045ac41 , 1546px 481px #2045ac41 , 946px 803px #2045ac41 , 1240px 942px #2045ac41 , 16px 1526px #2045ac41 , 248px 591px #2045ac41 , 192px 189px #2045ac41 , 77px 602px #2045ac41 , 500px 1456px #2045ac41 , 423px 134px #2045ac41 , 514px 13px #2045ac41 , 173px 577px #2045ac41 , 1204px 186px #2045ac41 , 798px 1021px #2045ac41 , 660px 69px #2045ac41 , 902px 1633px #2045ac41 , 8px 1348px #2045ac41 , 976px 1935px #2045ac41 , 218px 1373px #2045ac41 , 1531px 1859px #2045ac41 , 514px 252px #2045ac41 , 50px 1946px #2045ac41 , 937px 1544px #2045ac41 , 1816px 1578px #2045ac41 , 1506px 265px #2045ac41 , 1030px 643px #2045ac41 , 780px 1332px #2045ac41 , 31px 1442px #2045ac41 , 680px 1573px #2045ac41 , 1843px 1715px #2045ac41 , 787px 1422px #2045ac41 , 1862px 1495px #2045ac41 , 1410px 1745px #2045ac41 , 626px 447px #2045ac41 , 1396px 1605px #2045ac41 , 103px 272px #2045ac41 , 443px 1011px #2045ac41 , 1373px 804px #2045ac41 , 1714px 477px #2045ac41 , 693px 121px #2045ac41 , 1945px 288px #2045ac41 , 536px 1103px #2045ac41 , 136px 797px #2045ac41 , 1362px 1845px #2045ac41 , 1835px 233px #2045ac41 , 1519px 810px #2045ac41 , 1537px 506px #2045ac41 , 638px 1986px #2045ac41 , 1830px 420px #2045ac41 , 181px 1875px #2045ac41 , 1934px 1096px #2045ac41 , 1143px 877px #2045ac41 , 1296px 845px #2045ac41 , 716px 403px #2045ac41 , 202px 1460px #2045ac41 , 966px 1895px #2045ac41 , 718px 1031px #2045ac41 , 1299px 516px #2045ac41 , 974px 1724px #2045ac41 , 1598px 198px #2045ac41 , 1974px 280px #2045ac41 , 1389px 310px #2045ac41 , 1316px 1160px #2045ac41 , 1582px 157px #2045ac41 , 1060px 1157px #2045ac41 , 891px 1250px #2045ac41 , 429px 435px #2045ac41 , 1407px 183px #2045ac41 , 1479px 651px #2045ac41 , 1600px 1188px #2045ac41 , 1433px 387px #2045ac41 , 946px 920px #2045ac41 , 494px 1430px #2045ac41 , 61px 1747px #2045ac41 , 998px 288px #2045ac41 , 910px 1418px #2045ac41 , 1929px 1289px #2045ac41 , 48px 191px #2045ac41 , 914px 766px #2045ac41 , 1631px 813px #2045ac41 , 420px 115px #2045ac41 , 296px 392px #2045ac41 , 1201px 1301px #2045ac41 , 952px 588px #2045ac41 , 1161px 261px #2045ac41 , 1279px 1539px #2045ac41 , 947px 884px #2045ac41 , 1331px 717px #2045ac41 , 237px 1378px #2045ac41 , 320px 399px #2045ac41 , 1558px 284px #2045ac41 , 1389px 313px #2045ac41 , 1387px 982px #2045ac41 , 819px 1353px #2045ac41 , 218px 1214px #2045ac41 , 440px 1272px #2045ac41 , 270px 1159px #2045ac41 , 955px 121px #2045ac41 , 1802px 960px #2045ac41 , 1458px 1439px #2045ac41 , 1680px 1172px #2045ac41 , 971px 1092px #2045ac41 , 1980px 1149px #2045ac41 , 85px 1753px #2045ac41 , 911px 14px #2045ac41 , 411px 618px #2045ac41 , 773px 399px #2045ac41 , 198px 912px #2045ac41 , 1987px 1176px #2045ac41 , 948px 1021px #2045ac41 , 71px 491px #2045ac41 , 1714px 1076px #2045ac41 , 80px 1966px #2045ac41 , 1031px 649px #2045ac41 , 875px 458px #2045ac41 , 822px 1302px #2045ac41 , 1984px 73px #2045ac41 , 236px 157px #2045ac41 , 1564px 759px #2045ac41 , 1019px 1658px #2045ac41 , 1243px 1717px #2045ac41 , 1713px 1788px #2045ac41 , 699px 1669px #2045ac41 , 533px 1573px #2045ac41 , 1684px 197px #2045ac41 , 800px 1623px #2045ac41 , 214px 1978px #2045ac41 , 1691px 1658px #2045ac41 , 108px 165px #2045ac41 , 1984px 968px #2045ac41 , 1541px 189px #2045ac41 , 1680px 1897px #2045ac41 , 286px 1534px #2045ac41 , 1033px 649px #2045ac41 , 1074px 342px #2045ac41 , 1970px 1628px #2045ac41 , 319px 436px #2045ac41 , 1664px 190px #2045ac41 , 1908px 873px #2045ac41 , 1740px 451px #2045ac41 , 703px 1263px #2045ac41 , 399px 1898px #2045ac41 , 928px 1775px #2045ac41 , 373px 1263px #2045ac41 , 47px 1303px #2045ac41 , 1163px 399px #2045ac41 , 652px 201px #2045ac41 , 1727px 1867px #2045ac41 , 391px 125px #2045ac41 , 962px 1747px #2045ac41 , 527px 1595px #2045ac41 , 1597px 1944px #2045ac41 , 1365px 1955px #2045ac41 , 342px 110px #2045ac41 , 1278px 1396px #2045ac41 , 1957px 860px #2045ac41;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 22px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1805px 1427px #2045ac41 , 1654px 921px #2045ac41 , 573px 1544px #2045ac41 , 495px 726px #2045ac41 , 60px 85px #2045ac41 , 1970px 301px #2045ac41 , 1829px 1565px #2045ac41 , 1618px 1421px #2045ac41 , 1235px 1275px #2045ac41 , 581px 769px #2045ac41 , 67px 1344px #2045ac41 , 1047px 786px #2045ac41 , 684px 222px #2045ac41 , 957px 1309px #2045ac41 , 958px 1086px #2045ac41 , 364px 1239px #2045ac41 , 1897px 1880px #2045ac41 , 1456px 1766px #2045ac41 , 85px 1048px #2045ac41 , 1399px 614px #2045ac41 , 118px 389px #2045ac41 , 295px 447px #2045ac41 , 708px 1928px #2045ac41 , 906px 267px #2045ac41 , 364px 1616px #2045ac41 , 184px 471px #2045ac41 , 605px 612px #2045ac41 , 1184px 1723px #2045ac41 , 1577px 1708px #2045ac41 , 1305px 1526px #2045ac41 , 655px 301px #2045ac41 , 619px 1861px #2045ac41 , 1524px 437px #2045ac41 , 241px 1664px #2045ac41 , 80px 1472px #2045ac41 , 1611px 1405px #2045ac41 , 1024px 1746px #2045ac41 , 1337px 38px #2045ac41 , 221px 594px #2045ac41 , 1699px 205px #2045ac41 , 926px 219px #2045ac41 , 98px 1913px #2045ac41 , 1507px 1470px #2045ac41 , 244px 594px #2045ac41 , 454px 288px #2045ac41 , 395px 570px #2045ac41 , 85px 984px #2045ac41 , 793px 1842px #2045ac41 , 77px 793px #2045ac41 , 528px 1487px #2045ac41 , 145px 1116px #2045ac41 , 1590px 1338px #2045ac41 , 1982px 594px #2045ac41 , 1995px 1793px #2045ac41 , 1326px 1014px #2045ac41 , 1381px 1993px #2045ac41 , 119px 263px #2045ac41 , 943px 1471px #2045ac41 , 1533px 1187px #2045ac41 , 1228px 953px #2045ac41 , 836px 1914px #2045ac41 , 1897px 922px #2045ac41 , 1150px 819px #2045ac41 , 406px 1116px #2045ac41 , 339px 811px #2045ac41 , 1179px 1899px #2045ac41 , 789px 1790px #2045ac41 , 1278px 761px #2045ac41 , 1927px 1208px #2045ac41 , 1654px 1219px #2045ac41 , 227px 360px #2045ac41 , 1539px 1563px #2045ac41 , 1721px 651px #2045ac41 , 511px 997px #2045ac41 , 1438px 1199px #2045ac41 , 149px 555px #2045ac41 , 13px 650px #2045ac41 , 1627px 1903px #2045ac41 , 1793px 1184px #2045ac41 , 1896px 382px #2045ac41 , 668px 1761px #2045ac41 , 1778px 287px #2045ac41 , 722px 1173px #2045ac41 , 798px 1692px #2045ac41 , 1236px 79px #2045ac41 , 824px 593px #2045ac41 , 1140px 1316px #2045ac41 , 406px 205px #2045ac41 , 249px 1423px #2045ac41 , 364px 1826px #2045ac41 , 1711px 1057px #2045ac41 , 1430px 1464px #2045ac41 , 1268px 168px #2045ac41 , 761px 699px #2045ac41 , 1807px 1562px #2045ac41 , 1523px 984px #2045ac41 , 252px 986px #2045ac41 , 265px 596px #2045ac41 , 535px 507px #2045ac41 , 873px 515px #2045ac41 , 79px 362px #2045ac41 , 1348px 1683px #2045ac41 , 939px 1472px #2045ac41 , 10px 1240px #2045ac41 , 1370px 226px #2045ac41 , 1923px 1440px #2045ac41 , 1790px 1328px #2045ac41 , 1387px 960px #2045ac41 , 1589px 150px #2045ac41 , 432px 1866px #2045ac41 , 917px 1599px #2045ac41 , 82px 421px #2045ac41 , 389px 930px #2045ac41 , 227px 794px #2045ac41 , 409px 22045ac41px #2045ac41 , 226px 877px #2045ac41 , 1096px 95px #2045ac41 , 1135px 1324px #2045ac41 , 1980px 825px #2045ac41 , 380px 112px #2045ac41 , 429px 1975px #2045ac41 , 128px 1676px #2045ac41 , 1435px 1467px #2045ac41 , 1464px 813px #2045ac41 , 1571px 792px #2045ac41 , 1162px 613px #2045ac41 , 882px 1903px #2045ac41 , 957px 1369px #2045ac41 , 1921px 412px #2045ac41 , 1300px 324px #2045ac41 , 1269px 1858px #2045ac41 , 550px 493px #2045ac41 , 1278px 1304px #2045ac41 , 796px 88px #2045ac41 , 482px 30px #2045ac41 , 1757px 636px #2045ac41 , 1977px 193px #2045ac41 , 1771px 1792px #2045ac41 , 23px 297px #2045ac41 , 57px 1997px #2045ac41 , 272px 1228px #2045ac41 , 276px 785px #2045ac41 , 1741px 943px #2045ac41 , 536px 929px #2045ac41 , 178px 1818px #2045ac41 , 223px 673px #2045ac41 , 86px 1461px #2045ac41 , 1791px 723px #2045ac41 , 875px 425px #2045ac41 , 1220px 391px #2045ac41 , 376px 1604px #2045ac41 , 449px 1411px #2045ac41 , 746px 1408px #2045ac41 , 717px 123px #2045ac41 , 1848px 1975px #2045ac41 , 410px 198px #2045ac41 , 1765px 340px #2045ac41 , 594px 1584px #2045ac41 , 1735px 352px #2045ac41 , 1679px 1187px #2045ac41 , 1230px 101px #2045ac41 , 1286px 2px #2045ac41 , 1185px 444px #2045ac41 , 469px 1470px #2045ac41 , 843px 129px #2045ac41 , 1523px 719px #2045ac41 , 1118px 1557px #2045ac41 , 1561px 289px #2045ac41 , 1633px 269px #2045ac41 , 1147px 261px #2045ac41 , 818px 1593px #2045ac41 , 1818px 673px #2045ac41 , 1262px 1802px #2045ac41 , 217px 580px #2045ac41 , 954px 1739px #2045ac41 , 1764px 188px #2045ac41 , 1434px 195px #2045ac41 , 1587px 1411px #2045ac41 , 238px 616px #2045ac41 , 485px 70px #2045ac41 , 759px 779px #2045ac41 , 1723px 1792px #2045ac41 , 825px 1140px #2045ac41 , 1822px 394px #2045ac41 , 655px 608px #2045ac41 , 768px 896px #2045ac41 , 1049px 1868px #2045ac41 , 1301px 1496px #2045ac41 , 603px 11px #2045ac41 , 159px 971px #2045ac41 , 1844px 509px #2045ac41 , 867px 1457px #2045ac41 , 153px 1926px #2045ac41 , 778px 333px #2045ac41 , 1671px 1641px #2045ac41 , 974px 880px #2045ac41 , 580px 1441px #2045ac41 , 224px 960px #2045ac41 , 1985px 1459px #2045ac41 , 774px 1194px #2045ac41 , 273px 1032px #2045ac41 , 1854px 581px #2045ac41 , 207px 951px #2045ac41 , 1095px 1210px #2045ac41 , 249px 1703px #2045ac41 , 66px 1905px #2045ac41 , 837px 1973px #2045ac41 , 1774px 1274px #2045ac41 , 1345px 1988px #2045ac41 , 1938px 1539px #2045ac41 , 1405px 1672px #2045ac41 , 976px 1284px #2045ac41 , 764px 1281px #2045ac41 , 1184px 1117px #2045ac41 , 1849px 411px #2045ac41 , 877px 799px #2045ac41 , 1775px 681px #2045ac41 , 396px 258px #2045ac41 , 172px 975px #2045ac41 , 897px 430px #2045ac41 , 1369px 43px #2045ac41 , 151px 46px #2045ac41 , 281px 1340px #2045ac41 , 146px 1295px #2045ac41 , 1727px 544px #2045ac41 , 695px 739px #2045ac41 , 1810px 1655px #2045ac41 , 537px 1385px #2045ac41 , 235px 966px #2045ac41 , 637px 1398px #2045ac41 , 234px 708px #2045ac41 , 329px 68px #2045ac41 , 1709px 1679px #2045ac41 , 1155px 1171px #2045ac41 , 160px 1197px #2045ac41 , 1534px 1413px #2045ac41 , 817px 1407px #2045ac41 , 464px 1633px #2045ac41 , 1974px 439px #2045ac41 , 1903px 1091px #2045ac41 , 1497px 1922px #2045ac41 , 1101px 93px #2045ac41 , 1315px 563px #2045ac41 , 1691px 1819px #2045ac41 , 40px 622px #2045ac41 , 1953px 621px #2045ac41 , 378px 541px #2045ac41 , 165px 527px #2045ac41 , 150px 47px #2045ac41 , 480px 1319px #2045ac41 , 1375px 3px #2045ac41 , 1122px 8px #2045ac41 , 244px 928px #2045ac41 , 1526px 568px #2045ac41 , 203px 1927px #2045ac41 , 27px 84px #2045ac41 , 105px 450px #2045ac41 , 1091px 196px #2045ac41 , 675px 1567px #2045ac41 , 1853px 1847px #2045ac41 , 1699px 1008px #2045ac41 , 634px 1239px #2045ac41 , 639px 1035px #2045ac41 , 183px 118px #2045ac41 , 1348px 641px #2045ac41 , 1188px 1058px #2045ac41 , 4px 1386px #2045ac41 , 606px 1546px #2045ac41 , 787px 690px #2045ac41 , 1667px 765px #2045ac41 , 254px 1151px #2045ac41 , 1306px 192px #2045ac41 , 1299px 155px #2045ac41 , 1272px 888px #2045ac41 , 1143px 294px #2045ac41 , 1912px 97px #2045ac41 , 723px 1948px #2045ac41 , 891px 1178px #2045ac41 , 1510px 1136px #2045ac41 , 1054px 225px #2045ac41 , 1500px 1554px #2045ac41 , 1731px 1596px #2045ac41 , 1849px 1207px #2045ac41 , 1045px 400px #2045ac41 , 849px 405px #2045ac41 , 1847px 1214px #2045ac41 , 1847px 59px #2045ac41 , 718px 344px #2045ac41 , 1802px 958px #2045ac41 , 1661px 1828px #2045ac41 , 1765px 1982px #2045ac41 , 1661px 486px #2045ac41 , 239px 266px #2045ac41 , 1942px 846px #2045ac41 , 1586px 1999px #2045ac41 , 1304px 875px #2045ac41 , 1677px 609px #2045ac41 , 295px 928px #2045ac41 , 620px 1090px #2045ac41 , 803px 865px #2045ac41 , 251px 1657px #2045ac41 , 1078px 912px #2045ac41 , 1487px 1997px #2045ac41 , 367px 299px #2045ac41 , 1576px 962px #2045ac41 , 947px 1228px #2045ac41 , 587px 1417px #2045ac41 , 1912px 321px #2045ac41 , 691px 89px #2045ac41 , 1655px 1326px #2045ac41 , 1127px 222px #2045ac41 , 1375px 1786px #2045ac41 , 1370px 1684px #2045ac41 , 1740px 805px #2045ac41 , 172px 336px #2045ac41 , 1548px 443px #2045ac41 , 1414px 57px #2045ac41 , 26px 1612px #2045ac41 , 835px 1341px #2045ac41 , 1331px 382px #2045ac41 , 593px 1864px #2045ac41 , 270px 1544px #2045ac41 , 1692px 461px #2045ac41 , 427px 843px #2045ac41 , 1786px 102px #2045ac41 , 283px 1167px #2045ac41 , 203px 1259px #2045ac41 , 993px 599px #2045ac41 , 970px 1225px #2045ac41 , 1912px 1837px #2045ac41 , 1497px 1308px #2045ac41 , 741px 1199px #2045ac41 , 1821px 428px #2045ac41 , 696px 442px #2045ac41 , 564px 790px #2045ac41 , 1605px 1621px #2045ac41 , 1285px 732px #2045ac41 , 55px 275px #2045ac41 , 139px 1301px #2045ac41 , 1119px 914px #2045ac41 , 1573px 1044px #2045ac41 , 1064px 1082px #2045ac41 , 510px 1019px #2045ac41 , 1621px 1899px #2045ac41 , 273px 955px #2045ac41 , 1071px 548px #2045ac41 , 1638px 136px #2045ac41 , 1050px 1601px #2045ac41 , 586px 1085px #2045ac41 , 836px 510px #2045ac41 , 733px 354px #2045ac41 , 627px 1885px #2045ac41 , 636px 1489px #2045ac41 , 299px 1806px #2045ac41 , 1679px 216px #2045ac41 , 843px 1995px #2045ac41 , 399px 1639px #2045ac41 , 1462px 913px #2045ac41 , 1372px 603px #2045ac41 , 1726px 44px #2045ac41 , 140px 1692px #2045ac41 , 1951px 1326px #2045ac41 , 576px 1229px #2045ac41 , 435px 683px #2045ac41 , 694px 1688px #2045ac41 , 519px 1065px #2045ac41 , 63px 240px #2045ac41 , 1190px 38px #2045ac41 , 1137px 1304px #2045ac41 , 134px 516px #2045ac41 , 1249px 927px #2045ac41 , 1531px 365px #2045ac41 , 477px 310px #2045ac41 , 471px 1174px #2045ac41 , 1541px 391px #2045ac41 , 654px 1686px #2045ac41 , 143px 1380px #2045ac41 , 1546px 1129px #2045ac41 , 977px 339px #2045ac41 , 69px 1858px #2045ac41 , 1247px 1601px #2045ac41 , 1448px 160px #2045ac41 , 1158px 1929px #2045ac41 , 1753px 1510px #2045ac41 , 1412px 1288px #2045ac41 , 679px 1599px #2045ac41 , 1671px 1749px #2045ac41 , 494px 1526px #2045ac41 , 204px 1210px #2045ac41 , 1986px 1985px #2045ac41 , 1995px 915px #2045ac41 , 1878px 1562px #2045ac41 , 1969px 228px #2045ac41 , 1197px 930px #2045ac41 , 1698px 1136px #2045ac41 , 1176px 1870px #2045ac41 , 775px 1923px #2045ac41 , 44px 1027px #2045ac41 , 1460px 72px #2045ac41 , 1489px 158px #2045ac41 , 1836px 86px #2045ac41 , 1153px 1855px #2045ac41 , 1611px 29px #2045ac41 , 1824px 1096px #2045ac41 , 18px 581px #2045ac41 , 1459px 29px #2045ac41 , 1057px 475px #2045ac41 , 156px 1896px #2045ac41 , 426px 1540px #2045ac41 , 992px 1810px #2045ac41 , 1943px 27px #2045ac41 , 186px 195px #2045ac41 , 1991px 183px #2045ac41 , 463px 827px #2045ac41 , 1135px 1464px #2045ac41 , 1282px 751px #2045ac41 , 1149px 1668px #2045ac41 , 108px 343px #2045ac41 , 722px 1542px #2045ac41 , 1085px 1343px #2045ac41 , 568px 159px #2045ac41 , 292px 363px #2045ac41 , 537px 516px #2045ac41 , 1097px 365px #2045ac41 , 1653px 1755px #2045ac41 , 602px 725px #2045ac41 , 1917px 1967px #2045ac41 , 771px 14px #2045ac41 , 623px 559px #2045ac41 , 842px 1477px #2045ac41 , 1901px 861px #2045ac41 , 1665px 1395px #2045ac41 , 448px 239px #2045ac41 , 1257px 1469px #2045ac41 , 1904px 1644px #2045ac41 , 838px 280px #2045ac41 , 955px 225px #2045ac41 , 1110px 234px #2045ac41 , 265px 96px #2045ac41 , 1413px 1754px #2045ac41 , 1828px 467px #2045ac41 , 1650px 558px #2045ac41 , 638px 1313px #2045ac41 , 918px 1393px #2045ac41 , 960px 474px #2045ac41 , 997px 903px #2045ac41 , 995px 1402px #2045ac41 , 542px 1446px #2045ac41 , 610px 14px #2045ac41 , 1123px 1852px #2045ac41 , 384px 1027px #2045ac41 , 711px 1253px #2045ac41 , 969px 384px #2045ac41 , 117px 1730px #2045ac41 , 704px 223px #2045ac41 , 1034px 747px #2045ac41 , 410px 765px #2045ac41 , 1508px 61px #2045ac41 , 1439px 928px #2045ac41 , 1723px 1323px #2045ac41 , 1215px 1440px #2045ac41 , 1173px 901px #2045ac41 , 336px 1095px #2045ac41 , 1727px 104px #2045ac41 , 738px 899px #2045ac41 , 759px 1068px #2045ac41 , 545px 1800px #2045ac41 , 1780px 708px #2045ac41 , 667px 1947px #2045ac41 , 1046px 867px #2045ac41 , 422px 138px #2045ac41 , 496px 382px #2045ac41 , 1367px 1741px #2045ac41 , 573px 142px #2045ac41 , 1602px 1107px #2045ac41 , 1516px 1187px #2045ac41 , 1169px 310px #2045ac41 , 1830px 1986px #2045ac41 , 549px 1375px #2045ac41 , 889px 1895px #2045ac41 , 378px 1204px #2045ac41 , 917px 1899px #2045ac41 , 1416px 1483px #2045ac41 , 1910px 941px #2045ac41 , 429px 1526px #2045ac41 , 803px 768px #2045ac41 , 1008px 651px #2045ac41 , 413px 1850px #2045ac41 , 1774px 1174px #2045ac41 , 808px 1739px #2045ac41 , 1990px 1928px #2045ac41 , 1790px 845px #2045ac41 , 1079px 1752px #2045ac41 , 438px 1766px #2045ac41 , 455px 32px #2045ac41 , 1085px 684px #2045ac41 , 1240px 683px #2045ac41 , 1868px 1240px #2045ac41 , 301px 968px #2045ac41 , 314px 480px #2045ac41 , 881px 952px #2045ac41 , 389px 1098px #2045ac41 , 405px 1934px #2045ac41 , 1382px 1421px #2045ac41 , 1109px 66px #2045ac41 , 1270px 1045px #2045ac41 , 716px 782px #2045ac41 , 671px 1987px #2045ac41 , 1230px 1084px #2045ac41 , 1827px 1030px #2045ac41 , 510px 1943px #2045ac41 , 1344px 1761px #2045ac41 , 1254px 123px #2045ac41 , 990px 1814px #2045ac41 , 1646px 329px #2045ac41 , 1286px 544px #2045ac41 , 1715px 824px #2045ac41 , 1731px 1538px #2045ac41 , 1952px 1574px #2045ac41 , 925px 1823px #2045ac41 , 1480px 1817px #2045ac41 , 1282px 1081px #2045ac41 , 1755px 1233px #2045ac41 , 445px 1048px #2045ac41 , 1164px 1459px #2045ac41 , 1696px 59px #2045ac41 , 432px 1975px #2045ac41 , 1216px 640px #2045ac41 , 1581px 609px #2045ac41 , 1845px 1461px #2045ac41 , 1627px 534px #2045ac41 , 235px 292px #2045ac41 , 1284px 1844px #2045ac41 , 469px 796px #2045ac41 , 1589px 1363px #2045ac41 , 1171px 508px #2045ac41 , 1753px 409px #2045ac41 , 1544px 1791px #2045ac41 , 547px 184px #2045ac41 , 1729px 1730px #2045ac41 , 494px 1719px #2045ac41 , 1239px 1140px #2045ac41 , 545px 562px #2045ac41 , 740px 698px #2045ac41 , 1866px 467px #2045ac41 , 1546px 481px #2045ac41 , 946px 803px #2045ac41 , 1240px 942px #2045ac41 , 16px 1526px #2045ac41 , 248px 591px #2045ac41 , 192px 189px #2045ac41 , 77px 602px #2045ac41 , 500px 1456px #2045ac41 , 423px 134px #2045ac41 , 514px 13px #2045ac41 , 173px 577px #2045ac41 , 1204px 186px #2045ac41 , 798px 1021px #2045ac41 , 660px 69px #2045ac41 , 902px 1633px #2045ac41 , 8px 1348px #2045ac41 , 976px 1935px #2045ac41 , 218px 1373px #2045ac41 , 1531px 1859px #2045ac41 , 514px 252px #2045ac41 , 50px 1946px #2045ac41 , 937px 1544px #2045ac41 , 1816px 1578px #2045ac41 , 1506px 265px #2045ac41 , 1030px 643px #2045ac41 , 780px 1332px #2045ac41 , 31px 1442px #2045ac41 , 680px 1573px #2045ac41 , 1843px 1715px #2045ac41 , 787px 1422px #2045ac41 , 1862px 1495px #2045ac41 , 1410px 1745px #2045ac41 , 626px 447px #2045ac41 , 1396px 1605px #2045ac41 , 103px 272px #2045ac41 , 443px 1011px #2045ac41 , 1373px 804px #2045ac41 , 1714px 477px #2045ac41 , 693px 121px #2045ac41 , 1945px 288px #2045ac41 , 536px 1103px #2045ac41 , 136px 797px #2045ac41 , 1362px 1845px #2045ac41 , 1835px 233px #2045ac41 , 1519px 810px #2045ac41 , 1537px 506px #2045ac41 , 638px 1986px #2045ac41 , 1830px 420px #2045ac41 , 181px 1875px #2045ac41 , 1934px 1096px #2045ac41 , 1143px 877px #2045ac41 , 1296px 845px #2045ac41 , 716px 403px #2045ac41 , 202px 1460px #2045ac41 , 966px 1895px #2045ac41 , 718px 1031px #2045ac41 , 1299px 516px #2045ac41 , 974px 1724px #2045ac41 , 1598px 198px #2045ac41 , 1974px 280px #2045ac41 , 1389px 310px #2045ac41 , 1316px 1160px #2045ac41 , 1582px 157px #2045ac41 , 1060px 1157px #2045ac41 , 891px 1250px #2045ac41 , 429px 435px #2045ac41 , 1407px 183px #2045ac41 , 1479px 651px #2045ac41 , 1600px 1188px #2045ac41 , 1433px 387px #2045ac41 , 946px 920px #2045ac41 , 494px 1430px #2045ac41 , 61px 1747px #2045ac41 , 998px 288px #2045ac41 , 910px 1418px #2045ac41 , 1929px 1289px #2045ac41 , 48px 191px #2045ac41 , 914px 766px #2045ac41 , 1631px 813px #2045ac41 , 420px 115px #2045ac41 , 296px 392px #2045ac41 , 1201px 1301px #2045ac41 , 952px 588px #2045ac41 , 1161px 261px #2045ac41 , 1279px 1539px #2045ac41 , 947px 884px #2045ac41 , 1331px 717px #2045ac41 , 237px 1378px #2045ac41 , 320px 399px #2045ac41 , 1558px 284px #2045ac41 , 1389px 313px #2045ac41 , 1387px 982px #2045ac41 , 819px 1353px #2045ac41 , 218px 1214px #2045ac41 , 440px 1272px #2045ac41 , 270px 1159px #2045ac41 , 955px 121px #2045ac41 , 1802px 960px #2045ac41 , 1458px 1439px #2045ac41 , 1680px 1172px #2045ac41 , 971px 1092px #2045ac41 , 1980px 1149px #2045ac41 , 85px 1753px #2045ac41 , 911px 14px #2045ac41 , 411px 618px #2045ac41 , 773px 399px #2045ac41 , 198px 912px #2045ac41 , 1987px 1176px #2045ac41 , 948px 1021px #2045ac41 , 71px 491px #2045ac41 , 1714px 1076px #2045ac41 , 80px 1966px #2045ac41 , 1031px 649px #2045ac41 , 875px 458px #2045ac41 , 822px 1302px #2045ac41 , 1984px 73px #2045ac41 , 236px 157px #2045ac41 , 1564px 759px #2045ac41 , 1019px 1658px #2045ac41 , 1243px 1717px #2045ac41 , 1713px 1788px #2045ac41 , 699px 1669px #2045ac41 , 533px 1573px #2045ac41 , 1684px 197px #2045ac41 , 800px 1623px #2045ac41 , 214px 1978px #2045ac41 , 1691px 1658px #2045ac41 , 108px 165px #2045ac41 , 1984px 968px #2045ac41 , 1541px 189px #2045ac41 , 1680px 1897px #2045ac41 , 286px 1534px #2045ac41 , 1033px 649px #2045ac41 , 1074px 342px #2045ac41 , 1970px 1628px #2045ac41 , 319px 436px #2045ac41 , 1664px 190px #2045ac41 , 1908px 873px #2045ac41 , 1740px 451px #2045ac41 , 703px 1263px #2045ac41 , 399px 1898px #2045ac41 , 928px 1775px #2045ac41 , 373px 1263px #2045ac41 , 47px 1303px #2045ac41 , 1163px 399px #2045ac41 , 652px 201px #2045ac41 , 1727px 1867px #2045ac41 , 391px 125px #2045ac41 , 962px 1747px #2045ac41 , 527px 1595px #2045ac41 , 1597px 1944px #2045ac41 , 1365px 1955px #2045ac41 , 342px 110px #2045ac41 , 1278px 1396px #2045ac41 , 1957px 860px #2045ac41;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 376px 284px #2045ac41 , 616px 683px #2045ac41 , 812px 1105px #2045ac41 , 866px 121px #2045ac41 , 542px 349px #2045ac41 , 180px 405px #2045ac41 , 1431px 1469px #2045ac41 , 834px 1160px #2045ac41 , 1971px 361px #2045ac41 , 1498px 903px #2045ac41 , 1516px 1924px #2045ac41 , 1986px 345px #2045ac41 , 1939px 26px #2045ac41 , 1125px 931px #2045ac41 , 36px 712px #2045ac41 , 929px 1148px #2045ac41 , 97px 1086px #2045ac41 , 788px 1325px #2045ac41 , 402px 1754px #2045ac41 , 645px 484px #2045ac41 , 845px 845px #2045ac41 , 912px 80px #2045ac41 , 1839px 1559px #2045ac41 , 1459px 1978px #2045ac41 , 1749px 1417px #2045ac41 , 71px 44px #2045ac41 , 504px 1433px #2045ac41 , 169px 714px #2045ac41 , 802px 1104px #2045ac41 , 1512px 315px #2045ac41 , 994px 654px #2045ac41 , 1093px 322px #2045ac41 , 562px 12px #2045ac41 , 1647px 1966px #2045ac41 , 616px 306px #2045ac41 , 1967px 366px #2045ac41 , 1612px 159px #2045ac41 , 714px 1113px #2045ac41 , 48px 1979px #2045ac41 , 895px 286px #2045ac41 , 1923px 494px #2045ac41 , 1789px 1959px #2045ac41 , 1098px 1698px #2045ac41 , 563px 1651px #2045ac41 , 304px 1467px #2045ac41 , 918px 1212px #2045ac41 , 7px 1948px #2045ac41 , 1442px 1400px #2045ac41 , 425px 1901px #2045ac41 , 11px 1793px #2045ac41 , 961px 1958px #2045ac41 , 682px 823px #2045ac41 , 1066px 1826px #2045ac41 , 794px 542px #2045ac41 , 535px 680px #2045ac41 , 558px 1345px #2045ac41 , 1244px 1951px #2045ac41 , 695px 1294px #2045ac41 , 468px 1176px #2045ac41 , 79px 665px #2045ac41 , 1562px 1402px #2045ac41 , 1084px 785px #2045ac41 , 1289px 1755px #2045ac41 , 456px 929px #2045ac41 , 1689px 1992px #2045ac41 , 791px 303px #2045ac41 , 1671px 937px #2045ac41 , 1012px 671px #2045ac41 , 1162px 1905px #2045ac41 , 967px 1057px #2045ac41 , 1002px 1249px #2045ac41 , 1516px 1992px #2045ac41 , 1203px 589px #2045ac41 , 1364px 1561px #2045ac41 , 1305px 1164px #2045ac41 , 1592px 322px #2045ac41 , 634px 381px #2045ac41 , 1338px 514px #2045ac41 , 189px 948px #2045ac41 , 401px 532px #2045ac41 , 1931px 1747px #2045ac41 , 1315px 200px #2045ac41 , 1887px 1476px #2045ac41 , 1848px 561px #2045ac41 , 1040px 833px #2045ac41 , 1216px 261px #2045ac41 , 713px 218px #2045ac41 , 488px 287px #2045ac41 , 647px 1432px #2045ac41 , 1315px 818px #2045ac41 , 362px 1707px #2045ac41 , 1105px 786px #2045ac41 , 906px 534px #2045ac41 , 940px 1539px #2045ac41 , 253px 203px #2045ac41 , 271px 1491px #2045ac41 , 1334px 1026px #2045ac41 , 1008px 747px #2045ac41 , 1580px 940px #2045ac41 , 205px 1613px #2045ac41 , 1979px 1983px #2045ac41 , 1949px 1341px #2045ac41 , 1683px 1470px #2045ac41 , 1703px 674px #2045ac41 , 112px 1042px #2045ac41 , 29px 1568px #2045ac41 , 406px 1012px #2045ac41 , 53px 399px #2045ac41 , 425px 1487px #2045ac41 , 1506px 890px #2045ac41 , 1095px 453px #2045ac41 , 873px 1418px #2045ac41 , 487px 872px #2045ac41 , 323px 421px #2045ac41 , 1040px 599px #2045ac41 , 4px 7px #2045ac41 , 1474px 541px #2045ac41 , 529px 1180px #2045ac41 , 782px 1995px #2045ac41 , 18px 1498px #2045ac41 , 1468px 676px #2045ac41 , 150px 499px #2045ac41 , 473px 1195px #2045ac41 , 1454px 1556px #2045ac41 , 1213px 1299px #2045ac41 , 1761px 1932px #2045ac41 , 66px 1490px #2045ac41 , 1827px 360px #2045ac41 , 178px 1781px #2045ac41 , 161px 898px #2045ac41 , 1977px 150px #2045ac41 , 1608px 549px #2045ac41 , 406px 117px #2045ac41 , 357px 1796px #2045ac41 , 1936px 24px #2045ac41 , 146px 166px #2045ac41 , 1016px 1505px #2045ac41 , 1px 601px #2045ac41 , 457px 207px #2045ac41 , 1736px 1026px #2045ac41 , 1310px 1034px #2045ac41 , 1772px 14px #2045ac41 , 1775px 1220px #2045ac41 , 1582px 838px #2045ac41 , 254px 302px #2045ac41 , 754px 497px #2045ac41 , 1028px 21px #2045ac41 , 957px 1589px #2045ac41 , 613px 1684px #2045ac41 , 811px 553px #2045ac41 , 404px 1751px #2045ac41 , 955px 215px #2045ac41 , 374px 1281px #2045ac41 , 1777px 1822px #2045ac41 , 575px 95px #2045ac41 , 1961px 1225px #2045ac41 , 66px 1493px #2045ac41 , 1872px 639px #2045ac41 , 329px 1423px #2045ac41 , 1524px 1032px #2045ac41 , 1844px 279px #2045ac41 , 686px 1696px #2045ac41 , 1056px 1712px #2045ac41 , 161px 848px #2045ac41 , 256px 415px #2045ac41 , 899px 1294px #2045ac41 , 1538px 1252px #2045ac41 , 1591px 1198px #2045ac41 , 1925px 48px #2045ac41 , 656px 595px #2045ac41 , 1364px 1947px #2045ac41 , 8px 600px #2045ac41 , 1402px 1072px #2045ac41 , 220px 1227px #2045ac41 , 1732px 671px #2045ac41 , 278px 1114px #2045ac41 , 1614px 1637px #2045ac41 , 56px 1698px #2045ac41 , 1162px 981px #2045ac41 , 979px 1186px #2045ac41 , 1431px 1450px #2045ac41 , 1127px 1077px #2045ac41 , 629px 1482px #2045ac41 , 1386px 1927px #2045ac41 , 1089px 1534px #2045ac41 , 919px 1102px #2045ac41 , 769px 1600px #2045ac41 , 1968px 1303px #2045ac41 , 1269px 503px #2045ac41 , 1013px 200px #2045ac41 , 1615px 1512px #2045ac41 , 379px 484px #2045ac41 , 1773px 1219px #2045ac41 , 176px 714px #2045ac41 , 1660px 1239px #2045ac41 , 274px 350px #2045ac41 , 1942px 675px #2045ac41 , 955px 1532px #2045ac41 , 107px 1362px #2045ac41 , 606px 870px #2045ac41;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 0px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 376px 284px #2045ac41 , 616px 683px #2045ac41 , 812px 1105px #2045ac41 , 866px 121px #2045ac41 , 542px 349px #2045ac41 , 180px 405px #2045ac41 , 1431px 1469px #2045ac41 , 834px 1160px #2045ac41 , 1971px 361px #2045ac41 , 1498px 903px #2045ac41 , 1516px 1924px #2045ac41 , 1986px 345px #2045ac41 , 1939px 26px #2045ac41 , 1125px 931px #2045ac41 , 36px 712px #2045ac41 , 929px 1148px #2045ac41 , 97px 1086px #2045ac41 , 788px 1325px #2045ac41 , 402px 1754px #2045ac41 , 645px 484px #2045ac41 , 845px 845px #2045ac41 , 912px 80px #2045ac41 , 1839px 1559px #2045ac41 , 1459px 1978px #2045ac41 , 1749px 1417px #2045ac41 , 71px 44px #2045ac41 , 504px 1433px #2045ac41 , 169px 714px #2045ac41 , 802px 1104px #2045ac41 , 1512px 315px #2045ac41 , 994px 654px #2045ac41 , 1093px 322px #2045ac41 , 562px 12px #2045ac41 , 1647px 1966px #2045ac41 , 616px 306px #2045ac41 , 1967px 366px #2045ac41 , 1612px 159px #2045ac41 , 714px 1113px #2045ac41 , 48px 1979px #2045ac41 , 895px 286px #2045ac41 , 1923px 494px #2045ac41 , 1789px 1959px #2045ac41 , 1098px 1698px #2045ac41 , 563px 1651px #2045ac41 , 304px 1467px #2045ac41 , 918px 1212px #2045ac41 , 7px 1948px #2045ac41 , 1442px 1400px #2045ac41 , 425px 1901px #2045ac41 , 11px 1793px #2045ac41 , 961px 1958px #2045ac41 , 682px 823px #2045ac41 , 1066px 1826px #2045ac41 , 794px 542px #2045ac41 , 535px 680px #2045ac41 , 558px 1345px #2045ac41 , 1244px 1951px #2045ac41 , 695px 1294px #2045ac41 , 468px 1176px #2045ac41 , 79px 665px #2045ac41 , 1562px 1402px #2045ac41 , 1084px 785px #2045ac41 , 1289px 1755px #2045ac41 , 456px 929px #2045ac41 , 1689px 1992px #2045ac41 , 791px 303px #2045ac41 , 1671px 937px #2045ac41 , 1012px 671px #2045ac41 , 1162px 1905px #2045ac41 , 967px 1057px #2045ac41 , 1002px 1249px #2045ac41 , 1516px 1992px #2045ac41 , 1203px 589px #2045ac41 , 1364px 1561px #2045ac41 , 1305px 1164px #2045ac41 , 1592px 322px #2045ac41 , 634px 381px #2045ac41 , 1338px 514px #2045ac41 , 189px 948px #2045ac41 , 401px 532px #2045ac41 , 1931px 1747px #2045ac41 , 1315px 200px #2045ac41 , 1887px 1476px #2045ac41 , 1848px 561px #2045ac41 , 1040px 833px #2045ac41 , 1216px 261px #2045ac41 , 713px 218px #2045ac41 , 488px 287px #2045ac41 , 647px 1432px #2045ac41 , 1315px 818px #2045ac41 , 362px 1707px #2045ac41 , 1105px 786px #2045ac41 , 906px 534px #2045ac41 , 940px 1539px #2045ac41 , 253px 203px #2045ac41 , 271px 1491px #2045ac41 , 1334px 1026px #2045ac41 , 1008px 747px #2045ac41 , 1580px 940px #2045ac41 , 205px 1613px #2045ac41 , 1979px 1983px #2045ac41 , 1949px 1341px #2045ac41 , 1683px 1470px #2045ac41 , 1703px 674px #2045ac41 , 112px 1042px #2045ac41 , 29px 1568px #2045ac41 , 406px 1012px #2045ac41 , 53px 399px #2045ac41 , 425px 1487px #2045ac41 , 1506px 890px #2045ac41 , 1095px 453px #2045ac41 , 873px 1418px #2045ac41 , 487px 872px #2045ac41 , 323px 421px #2045ac41 , 1040px 599px #2045ac41 , 4px 7px #2045ac41 , 1474px 541px #2045ac41 , 529px 1180px #2045ac41 , 782px 1995px #2045ac41 , 18px 1498px #2045ac41 , 1468px 676px #2045ac41 , 150px 499px #2045ac41 , 473px 1195px #2045ac41 , 1454px 1556px #2045ac41 , 1213px 1299px #2045ac41 , 1761px 1932px #2045ac41 , 66px 1490px #2045ac41 , 1827px 360px #2045ac41 , 178px 1781px #2045ac41 , 161px 898px #2045ac41 , 1977px 150px #2045ac41 , 1608px 549px #2045ac41 , 406px 117px #2045ac41 , 357px 1796px #2045ac41 , 1936px 24px #2045ac41 , 146px 166px #2045ac41 , 1016px 1505px #2045ac41 , 1px 601px #2045ac41 , 457px 207px #2045ac41 , 1736px 1026px #2045ac41 , 1310px 1034px #2045ac41 , 1772px 14px #2045ac41 , 1775px 1220px #2045ac41 , 1582px 838px #2045ac41 , 254px 302px #2045ac41 , 754px 497px #2045ac41 , 1028px 21px #2045ac41 , 957px 1589px #2045ac41 , 613px 1684px #2045ac41 , 811px 553px #2045ac41 , 404px 1751px #2045ac41 , 955px 215px #2045ac41 , 374px 1281px #2045ac41 , 1777px 1822px #2045ac41 , 575px 95px #2045ac41 , 1961px 1225px #2045ac41 , 66px 1493px #2045ac41 , 1872px 639px #2045ac41 , 329px 1423px #2045ac41 , 1524px 1032px #2045ac41 , 1844px 279px #2045ac41 , 686px 1696px #2045ac41 , 1056px 1712px #2045ac41 , 161px 848px #2045ac41 , 256px 415px #2045ac41 , 899px 1294px #2045ac41 , 1538px 1252px #2045ac41 , 1591px 1198px #2045ac41 , 1925px 48px #2045ac41 , 656px 595px #2045ac41 , 1364px 1947px #2045ac41 , 8px 600px #2045ac41 , 1402px 1072px #2045ac41 , 220px 1227px #2045ac41 , 1732px 671px #2045ac41 , 278px 1114px #2045ac41 , 1614px 1637px #2045ac41 , 56px 1698px #2045ac41 , 1162px 981px #2045ac41 , 979px 1186px #2045ac41 , 1431px 1450px #2045ac41 , 1127px 1077px #2045ac41 , 629px 1482px #2045ac41 , 1386px 1927px #2045ac41 , 1089px 1534px #2045ac41 , 919px 1102px #2045ac41 , 769px 1600px #2045ac41 , 1968px 1303px #2045ac41 , 1269px 503px #2045ac41 , 1013px 200px #2045ac41 , 1615px 1512px #2045ac41 , 379px 484px #2045ac41 , 1773px 1219px #2045ac41 , 176px 714px #2045ac41 , 1660px 1239px #2045ac41 , 274px 350px #2045ac41 , 1942px 675px #2045ac41 , 955px 1532px #2045ac41 , 107px 1362px #2045ac41 , 606px 870px #2045ac41;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1056px 743px #2045ac41 , 1042px 1847px #2045ac41 , 1077px 640px #2045ac41 , 662px 1351px #2045ac41 , 1313px 1795px #2045ac41 , 1392px 1887px #2045ac41 , 1679px 184px #2045ac41 , 303px 1151px #2045ac41 , 1835px 658px #2045ac41 , 1533px 51px #2045ac41 , 156px 365px #2045ac41 , 545px 1983px #2045ac41 , 469px 622px #2045ac41 , 1442px 627px #2045ac41 , 14px 548px #2045ac41 , 256px 649px #2045ac41 , 641px 1218px #2045ac41 , 1295px 48px #2045ac41 , 764px 1688px #2045ac41 , 1418px 251px #2045ac41 , 1358px 448px #2045ac41 , 1461px 16px #2045ac41 , 1004px 363px #2045ac41 , 1006px 767px #2045ac41 , 1174px 1754px #2045ac41 , 1958px 333px #2045ac41 , 1601px 999px #2045ac41 , 1221px 139px #2045ac41 , 766px 1544px #2045ac41 , 1040px 312px #2045ac41 , 797px 667px #2045ac41 , 1370px 54px #2045ac41 , 1387px 1923px #2045ac41 , 541px 1020px #2045ac41 , 237px 1933px #2045ac41 , 1265px 826px #2045ac41 , 1420px 50px #2045ac41 , 27px 1286px #2045ac41 , 698px 1329px #2045ac41 , 509px 65px #2045ac41 , 1614px 1771px #2045ac41 , 447px 1119px #2045ac41 , 547px 522px #2045ac41 , 1955px 845px #2045ac41 , 1834px 1885px #2045ac41 , 1440px 876px #2045ac41 , 1255px 591px #2045ac41 , 67px 1524px #2045ac41 , 275px 330px #2045ac41 , 1px 137px #2045ac41 , 1153px 1229px #2045ac41 , 1924px 1740px #2045ac41 , 1602px 100px #2045ac41 , 1164px 1284px #2045ac41 , 453px 907px #2045ac41 , 605px 353px #2045ac41 , 876px 1800px #2045ac41 , 545px 1346px #2045ac41 , 646px 1608px #2045ac41 , 1278px 1809px #2045ac41 , 1495px 684px #2045ac41 , 1647px 500px #2045ac41 , 829px 1810px #2045ac41 , 293px 742px #2045ac41 , 723px 86px #2045ac41 , 514px 177px #2045ac41 , 1716px 1657px #2045ac41 , 1786px 1493px #2045ac41 , 829px 84px #2045ac41 , 1296px 248px #2045ac41 , 558px 1689px #2045ac41 , 962px 475px #2045ac41 , 1623px 1428px #2045ac41 , 1865px 1904px #2045ac41 , 525px 862px #2045ac41 , 281px 600px #2045ac41 , 703px 1748px #2045ac41 , 145px 177px #2045ac41 , 647px 969px #2045ac41 , 454px 552px #2045ac41 , 1305px 105px #2045ac41 , 475px 829px #2045ac41 , 755px 1249px #2045ac41 , 1956px 474px #2045ac41 , 1316px 688px #2045ac41 , 591px 483px #2045ac41 , 784px 1910px #2045ac41 , 1229px 1352px #2045ac41 , 92px 446px #2045ac41 , 792px 980px #2045ac41 , 1750px 436px #2045ac41 , 536px 1944px #2045ac41 , 1027px 1766px #2045ac41 , 106px 1389px #2045ac41 , 1182px 1501px #2045ac41 , 1888px 899px #2045ac41 , 825px 1px #2045ac41 , 1947px 1787px #2045ac41 , 1173px 583px #2045ac41 , 1272px 619px #2045ac41;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000x;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1056px 743px #2045ac41 , 1042px 1847px #2045ac41 , 1077px 640px #2045ac41 , 662px 1351px #2045ac41 , 1313px 1795px #2045ac41 , 1392px 1887px #2045ac41 , 1679px 184px #2045ac41 , 303px 1151px #2045ac41 , 1835px 658px #2045ac41 , 1533px 51px #2045ac41 , 156px 365px #2045ac41 , 545px 1983px #2045ac41 , 469px 622px #2045ac41 , 1442px 627px #2045ac41 , 14px 548px #2045ac41 , 256px 649px #2045ac41 , 641px 1218px #2045ac41 , 1295px 48px #2045ac41 , 764px 1688px #2045ac41 , 1418px 251px #2045ac41 , 1358px 448px #2045ac41 , 1461px 16px #2045ac41 , 1004px 363px #2045ac41 , 1006px 767px #2045ac41 , 1174px 1754px #2045ac41 , 1958px 333px #2045ac41 , 1601px 999px #2045ac41 , 1221px 139px #2045ac41 , 766px 1544px #2045ac41 , 1040px 312px #2045ac41 , 797px 667px #2045ac41 , 1370px 54px #2045ac41 , 1387px 1923px #2045ac41 , 541px 1020px #2045ac41 , 237px 1933px #2045ac41 , 1265px 826px #2045ac41 , 1420px 50px #2045ac41 , 27px 1286px #2045ac41 , 698px 1329px #2045ac41 , 509px 65px #2045ac41 , 1614px 1771px #2045ac41 , 447px 1119px #2045ac41 , 547px 522px #2045ac41 , 1955px 845px #2045ac41 , 1834px 1885px #2045ac41 , 1440px 876px #2045ac41 , 1255px 591px #2045ac41 , 67px 1524px #2045ac41 , 275px 330px #2045ac41 , 1px 137px #2045ac41 , 1153px 1229px #2045ac41 , 1924px 1740px #2045ac41 , 1602px 100px #2045ac41 , 1164px 1284px #2045ac41 , 453px 907px #2045ac41 , 605px 353px #2045ac41 , 876px 1800px #2045ac41 , 545px 1346px #2045ac41 , 646px 1608px #2045ac41 , 1278px 1809px #2045ac41 , 1495px 684px #2045ac41 , 1647px 500px #2045ac41 , 829px 1810px #2045ac41 , 293px 742px #2045ac41 , 723px 86px #2045ac41 , 514px 177px #2045ac41 , 1716px 1657px #2045ac41 , 1786px 1493px #2045ac41 , 829px 84px #2045ac41 , 1296px 248px #2045ac41 , 558px 1689px #2045ac41 , 962px 475px #2045ac41 , 1623px 1428px #2045ac41 , 1865px 1904px #2045ac41 , 525px 862px #2045ac41 , 281px 600px #2045ac41 , 703px 1748px #2045ac41 , 145px 177px #2045ac41 , 647px 969px #2045ac41 , 454px 552px #2045ac41 , 1305px 105px #2045ac41 , 475px 829px #2045ac41 , 755px 1249px #2045ac41 , 1956px 474px #2045ac41 , 1316px 688px #2045ac41 , 591px 483px #2045ac41 , 784px 1910px #2045ac41 , 1229px 1352px #2045ac41 , 92px 446px #2045ac41 , 792px 980px #2045ac41 , 1750px 436px #2045ac41 , 536px 1944px #2045ac41 , 1027px 1766px #2045ac41 , 106px 1389px #2045ac41 , 1182px 1501px #2045ac41 , 1888px 899px #2045ac41 , 825px 1px #2045ac41 , 1947px 1787px #2045ac41 , 1173px 583px #2045ac41 , 1272px 619px #2045ac41;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-8000px);
  }
}
