.modal-dialog {
  max-width: 100% !important;
}




body {

  margin-top: 50px !important;

}

h3,
p {

  margin: 0;

}

.servicebox {

  text-align: center;

}

.servicebox .service-icon {

  display: inline-block;

  width: 75px;

  height: 75px;

  border-radius: 10px;

  background-color: #06beb6;

  margin-bottom: 30px;

}

.servicebox .service-icon i.fa {
  line-height: 75px;

  color: #ffffff;

  font-size: 35px;

  transition: all 0.3s ease 0s;

}

.servicebox:hover .service-icon i.fa {

  transform: rotateY(180deg);
  color: #0d2063;

}

.servicebox .title {

  color: #333;

  border-bottom: 1px solid #132162;

  display: block;

  line-height: 30px;

  margin: 0 auto 20px;

  padding-bottom: 20px;

  position: relative;

  text-align: center;

  width: 190px;

}

.servicebox .title:before,

.servicebox .title:after {

  background: #FFF;

  border-radius: 100%;

  bottom: -5px;

  content: "";

  height: 10px;

  margin: 0 -5px 0 0;

  position: absolute;

  right: 50%;

  transition: all 0.4s ease 0s;

  width: 10px;

}

.servicebox .title:before {

  left: 50%;

  margin: 0 0 0 -5px;

}

.servicebox:hover .title:before {

  left: 100%;

}

.servicebox:hover .title:after {

  right: 100%;

}

.servicebox .description {

  color: grey;

  padding: 0 15px;

  font: 14px;

  line-height: 27px;

  transition: all 300ms ease 0s;

}



@media screen and (max-width:1000px) {

  .servicebox {

    margin-bottom: 30px;

  }

}




/* set Color */

/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.dienst {
  background-color: #0d2063;
  color: white !important;
}

.dienst h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: white !important;
}

.workk {
  width: 100wh;
  color: #272a37;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(1, 127, 173);
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 50% 100%
  }

  100% {
    background-position: 50% 0%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
 
h1 {
  max-width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  padding: 8px 15px;
  background-color: #215d8a;
}

a {
  color: #ffffff;
  text-decoration: none;
}


.headd{
  /* background-image: linear-gradient(to top, #1459af 0%, #b1f4cf 100%); */
  /* background-image: linear-gradient(0deg, #64b3f4 0%, #c2e59c 100%); */
  background: #83a4d4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  

}
.fullscreen-bg {

}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    /* background: url('../img/videoframe.jpg') center center / cover no-repeat; */
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.login,
.image {
  min-height: 30vh;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}





.banner {
	
	position:relative;
	width:100%;
	overflow: hidden;
}
.banner video {
    width: 100%;
    position: absolute;
    	overflow: hidden;
}
.banner-innner {
    padding: 200px 0;
}


.banner-left {
    text-align: center;
    margin: 0 auto;
}

.overlay {
    background: #ffffffa8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

}

.banner-left h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
	  margin-bottom:25px;
}

.banner-left p {
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 28px;
  	margin-bottom:30px;
}

.custom-btn {
    width: 100%;
    background: #E91E63;
    color: #fff;
    letter-spacing: 2.5px;
	transition:0.8 ease;
}

.banner-left a {
    background: #e91e63;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2.5px;
    padding: 8px 35px;
    border-radius: 4px;
	  transition:0.8 ease;
}

.banner-left a:hover{
	letter-spacing:3px;
	transition:0.8 ease;
}

.custom-btn:hover{
	letter-spacing:3px;
	transition:0.8 ease;
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 2px #000238;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}





@media only screen and (max-width: 800px ){
	.banner-left h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    text-shadow: 1px 2px #215d8a;
}
.banner{
	padding:120px 0;
	height: auto;
}

.nav-color{
	background:#000;
}
.navbar-light .navbar-nav .nav-link{
	padding-left:0;
}
.banner-innner {
    padding: 10px 0;
}
}