

<div class="bg">
	
<div id="loading-area"></div>
<div class="page-wraper">
		<ng-template #workmodal style="max-width: 100%">
				<div>
				  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
					<span aria-hidden="true">&times;</span>
				  </button>
				  <div>
			  
					<div class="text-center"><br>
					  <h4>Werk</h4>
					</div>
			  
			  
				  </div>
				  <div class="modal-body">
					<app-work></app-work>
				  </div>
				</div>
			  
			  </ng-template>
	<!-- header -->
    <header class="site-header header-transparent mo-left">
		
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="index.html" class="dez-page"><img src="assets/logo1b.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="contact.html" class="dez-page site-button primary">eddie@edease.nl</a>
                        </div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">	
							<li><a href="#">Home<i class="fa fa-chevron-down"></i></a>
							
								</li>
							<li><a href="#">Diensten<i class="fa fa-chevron-down"></i></a>
							
							</li>
							<li><a href="#">Werk<i class="fa fa-chevron-down"></i></a>
							</li>
							<li><a href="#">Contact<i class="fa fa-chevron-down"></i></a>
							</li>
						</ul>		
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content">
		<!-- Slider -->
        <div class="main-slider style-two default-banner" id="home">
            <div class="tp-banner-container">
                <div class="tp-banner" >
					<div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="reveal-add-on36" data-source="gallery" style="background:#ffffff;padding:0px;">
						<!-- START REVOLUTION SLIDER 5.4.7.2 fullscreen mode -->
							<div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.2">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-101" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="assets/dummy.png"  alt=""  data-lazyload="assets/slide10.jpg" data-bgposition="center center" data-kenburns="on" data-duration="4000" data-ease="Power3.easeInOut" data-scalestart="150" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="4" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div class="tp-caption tp-shape tp-shapewrapper ov-tp " 
									id="slide-101-layer-14" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
									data-width="full"
									data-height="full"
									data-whitespace="nowrap"
									data-type="shape" 
									data-basealign="slide" 
									data-responsive_offset="off" 
									data-responsive="off"
									data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 5;font-family:Open Sans;"> </div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption  " 
									id="slide-101-layer-1" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['-40','-80','-80','-70']" 
									data-fontsize="['70','70','50','30']"
									data-lineheight="['90','80','70','60']"
									data-letterspacing="['-5','-5','-2','-3']"
									data-width="['800','none','768','260']"
									data-height="none"
									data-whitespace="['normal','nowrap','normal','normal']"
						 
									data-type="text" 
									data-responsive_offset="off" 
									data-responsive="off"
									data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['center','left','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[10,10,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 6; min-width: 800px; max-width: 800px; white-space: normal; font-size: 90px; line-height: 90px; font-weight: 600; color: #ffffff; letter-spacing: -5px;font-family:'Montserrat',sans-serif;">Alles voor het web<br><br><br></div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption  " 
									id="slide-101-layer-2" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['50','20','10','10']" 
									data-fontsize="['20','20','20','17']"
									data-lineheight="['30','30','25','22']"
									data-color="['rgba(255,255,255,0.75)','rgba(255,255,255,0.65)','rgba(255,255,255,0.65)','rgba(255,255,255,0.65)']"
									data-width="['640','481','500','260']"
									data-height="none"
									data-whitespace="normal"
						 
									data-type="text" 
									data-responsive_offset="off" 
									data-responsive="off"
									data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 7; min-width: 640px; max-width: 640px; white-space: normal; font-size: 20px; line-height: 30px; font-weight: 400; color: rgba(255,255,255,0.75); font-family:'Montserrat',sans-serif;"><img src="assets/laptop-2.png" class="img-fluid" alt="Responsive image"></div>

								<!-- LAYER NR. 4 -->
								<a class="tp-caption rev-btn   tc-btnshadow tp-rs-menulink" 
									href="#" target="_blank"			 
									id="slide-101-layer-12" 
									data-x="['center','center','center','center']" data-hoffset="['-150','-150','-110','0']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['150','140','100','100']" 
									data-lineheight="['60','60','50','50']"
									data-width="['280','280','200','none']"
									data-height="none"
									data-whitespace="nowrap"
						 
									data-type="button" 
									data-actions=''
									data-responsive_offset="off" 
									data-responsive="off"
									data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"x:-50px;z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;fbr:100;","to":"o:1;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fbr:90%;","style":"c:rgba(255,255,255,1);"}]'
									data-textAlign="['center','center','center','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[50,50,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[50,50,20,20]"

									style="z-index: 8; min-width: 280px; max-width: 280px; white-space: nowrap; font-size: 17px; line-height: 60px; font-weight: 500; color: rgba(255,255,255,1); font-family:'Montserrat',sans-serif;border-radius:30px 30px 30px 30px;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"><i class="fa-icon-cube" style="font-size:17px;margin-right:5px;"></i> Over </a>

								<!-- LAYER NR. 5 -->
								<a class="tp-caption rev-btn   tc-btnshadow" 
									href="#" target="_blank"			 
									id="slide-101-layer-13" 
									data-x="['center','center','center','center']" data-hoffset="['150','150','100','0']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['150','140','100','160']" 
									data-lineheight="['60','60','50','50']"
									data-width="['280','280','200','none']"
									data-height="none"
									data-whitespace="nowrap"
						 
									data-type="button" 
									data-actions=''
									data-responsive_offset="off" 
									data-responsive="off"
									data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"x:50px;z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;fbr:100;","bgcolor":"#000000","to":"o:1;fbr:100;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","bgcolor":"#000000","to":"opacity:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;fbr:90%;","style":"c:rgba(0,0,0,1);"}]'
									data-textAlign="['center','center','center','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[50,50,20,20]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[50,50,20,20]"

									style="z-index: 9; min-width: 280px; max-width: 280px; white-space: nowrap; font-size: 17px; line-height: 60px; font-weight: 500; color: #000; font-family:'Montserrat',sans-serif;background-color:#fff;border-radius:30px 30px 30px 30px;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"><i class="fa-icon-cloud-download" style="font-size:17px;margin-right:5px;"></i> Contact </a>
							</li>
							<!-- SLIDE  -->
							
						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
						</div><!-- END REVOLUTION SLIDER -->     
				</div>        
			</div>        
		</div>        
		<!-- Slider END -->
        <!-- About Us -->
		<div class="section-full bg-white p-b30">
			<div class="container">
				<div class="row about-1">
					<div class="icon-bx-wraper col-md-4 bg-white col-lg-4 p-tb30 p-l30 p-r50">
						<div class="icon-md m-b20"> 
							<span class="icon-cell">
								<img src="assets/icon3.png" alt="">
							</span> 
						</div>
						<div class="icon-content">
							<h4 class="dez-tilte">Drukwerk & Animaties</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod...</p>
						</div>
                    </div>
                    <div class="icon-bx-wraper bg-primary p-lr30 about-scale text-white col-md-4 col-lg-4 p-tb30">
						<div class="icon-md m-b20"> 
							<span class="icon-cell">
								<img src="assets/icon1.png" alt="">
							</span> 
						</div>
						<div class="icon-content">
							<h4 class="dez-tilte">Webdevelopment & -design</h4>
							<ul class="list-arrow-right m-b0">
								<li><i class="fa fa-arrow-right"></i>Websites & Webapps</li>
								<li><i class="fa fa-arrow-right"></i>Responsive ontwerpen</li>
								<li><i class="fa fa-arrow-right"></i>Business Development</li>
								<li><i class="fa fa-arrow-right"></i>Maatwerk</li>								
							</ul>
                        </div>
                    </div>
                    <div class="icon-bx-wraper p-l50 p-r30 col-md-4 bg-white col-lg-4 p-tb30">
						<div class="icon-md m-b20"> 
							<span class="icon-cell">
								<img src="assets/icon2.png" alt="">
							</span> 
						</div>
						<div class="icon-content">
							<h4 class="dez-tilte">HTML5-Games</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod...</p>
                        </div>
                    </div>
				</div>
			</div>	
		</div>

		<section id="about" class="section bg-white overflow-hidden">
				<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
				  <div class="row gap-y align-items-center">
					
					
			
			
					<div class="col-md-8">
					  <h3 style="color:#215379 !important">Over</h3>
					  <p>Welkom, als ZZP'er ondersteunt Edease bedrijven met het bedenken, ontwerpen en realiseren van multimediaoplossingen. Ik heb al 10+ jaar ervaring op het gebied van Webdevelopment & Design en heb al voor vele tevreden klanten mogen werken.
						<br><br>
						Dit varieert van het opzetten voor een website, opmaken van flyers, productie van een animatie, tot het maken van een game. Deze brede inzetbaarheid is
						mijn kracht. 
						<br><br>
						Neem gerust <b><a pageScroll href="#contact" style="color:#eaaf06 !important">contact</a></b> op als je denkt dat we iets voor elkaar kunnen betekenen.</p>
						
					</div>

					<div class="col-md-4   mx-auto text-center">
							<img style="border:0px" src="assets/shot-2.png" alt="..." data-aos="fade-right">
						  </div>
			
				  </div>
				</div>
			  </section>

			  <section class="section overflow-hidden" style='background-color:#1b293f;color:white'>
					<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
					  <div class="row">
				
						
							<div id="verder1" class="col-md-4 text-center">
									<img style="border:0px" src="assets/shot-3.png" alt="..." data-aos="fade-left">
								  </div>
				
						<div class="col-md-8">
						  <h3 style="color:white">Maatwerk</h3>
						  <p>Het wereld wijde web is veel veranderd de afgelopen tijd. Ik heb al vele jaren ervaring met alles wat zich
							afspeelt op het web, en pas de nieuwste en laatste technieken toe in mijn werk. De sites/applicaties die ik
							codeer kunnen op elk device worden bekeken en zijn razendsnel. <br><br>Als developer ontwikkel ik full-stack. Dat
							wil zeggen dat ik zowel de front-end als de back-end kan verzorgen. Compleet zelfstandig, of ik kan
							meedraaien in een team.</p>
						  <a>
							<hr></a>
						</div>

						

					  </div>
					</div>
				  </section>


		<!-- About Us END -->
		<!-- Our Services -->
		<!-- <div class="section-full content-inner-2 bg-white">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 section-head text-center">
						<h5 class="title-small">Benefits</h5>
						<h2 class="title-head m-b0">Your Objective Choices</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.2s"  data-wow-duration="1s">
						<div class="icon-bx-wraper our-service center">
							
							<div class="icon-lg text-primary m-b20"> 
								<a href="#" class="icon-cell"><img src="assets/icon4.png" alt=""></a> 
							</div>
							<div class="icon-content p-lr50">
								<h5 class="dez-tilte text-uppercase">Experience</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.4s"  data-wow-duration="1s">
						<div class="icon-bx-wraper our-service center">
							<div class="icon-lg text-primary m-b20"> 
								<a href="#" class="icon-cell"><img src="assets/icon5.png" alt=""></a> 
							</div>
							<div class="icon-content p-lr50">
								<h5 class="dez-tilte text-uppercase">Future</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 m-b30 wow fadeInUp" data-wow-delay="0.6s"  data-wow-duration="1s">
						<div class="icon-bx-wraper our-service center">
							<div class="icon-lg text-primary m-b20"> 
								<a href="#" class="icon-cell"><img src="assets/icon6.png" alt=""></a> 
							</div>
							<div class="icon-content p-lr50">
								<h5 class="dez-tilte text-uppercase">passion</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-12 m-t20 text-center">
						<a href="#" class="site-button long-btn radius-xl shadow">ORDER NOW</a>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Our Services END -->
		<!-- Experts END -->
		<section id="work" class="section overflow-hidden workk">
				<div  class="container" style="padding-top: 80px; padding-bottom: 80px;">
				  
					<h4 style="color:white">Werk</h4>
				  
			
				  <!-- <div data-provide="shuffle">
					<ul class="nav nav-center nav-bold nav-uppercase nav-slash mb-7" data-shuffle="filter">
					  <li class="nav-item">
						<a class="nav-link active" href="#" data-shuffle="button">Alles</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#" data-shuffle="button" data-group="app">Applicaties</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#" data-shuffle="button" data-group="video">Video</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#" data-shuffle="button" data-group="design">Ontwerp</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#" data-shuffle="button" data-group="games">Games</a>
					  </li>
					</ul> -->
			
			
			
				  <div class="row gap-y gap-2">
			
			
					<div *ngFor="let work of workArray| paginate: { itemsPerPage: 12, currentPage: p } ;let i = index "
					  class="col-6 col-lg-3" [attr.data-groups]="work.tags">
					  <a (click)="openModal(workmodal, i)" class="portfolio-1"
						style="cursor: pointer;border:1px; border-radius: 10px">
						<img [src]="work.cover" style="cursor: pointer;border:1px;border-radius: 10px;">
						<div class="portfolio-detail">
						  <h5>{{work.title}}</h5>
						</div>
					  </a>
					  <br>
					</div>
				  </div>
				  <div class="text-center">
					<pagination-controls (pageChange)="p = $event" previousLabel="Vorige" nextLabel="Volgende">
					</pagination-controls>
				  </div>
				  <!-- </div> -->
			
			
				</div>
			  </section>
			


			  <!-- <section class="section bg-gray overflow-hidden">
					<div class="container-fluid">
					  <div class="row gap-y align-items-center">
				
						<div class="col-md-4 mx-auto text-center">
						  <img style="border:0px" src="assets/shot-4.png" alt="..." data-aos="fade-right">
						</div>
				
				
						<div class="col-md-4 mx-auto">
						  <h3 style="color:#215379 !important">Oplossingsgericht</h3>
						  <p>Ik denk graag mee over oplossingen waar bedrijven tegenaan lopen. Gebruiksvriendelijkheid en privacybescherming staat daarmee bij
							mij hoog in het vaandel. Geen poespas dus, de eindgebruiker staat centraal. Qua ontwerp houd ik alles het
							liefst lekker modern en strak. 
						  <br><br>Verder is het een kwestie van de juiste tools gebruiken voor ieder project,
						  en ik ben niet bang om iets nieuws te leren mocht ik iets nog niet kennen.
						</p>
						  <a>
							<hr></a>
						</div>
				
					  </div>
					</div>
				  </section> -->
		
		<!-- Pricing Table END -->
		<!-- Ticket KIt Section -->
		<!-- <div class="section-full content-inner bg-primary" style="background-image:url(images/background/bg22.png); background-position:center;">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 m-b30">
						<div class="tickit-box bg-white text-center">
							<span class="title">Complete Kit</span>
							<h2 class="price text-primary"><span>$</span>58</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							<a href="#" class="site-button btn-block radius-xl">Get started</a>
						</div>
					</div>
					<div class="col-lg-7 offset-lg-1 col-md-7 text-white m-b30">
						<div class="tickit-info">
							<h2 class="font-50">Lorem Ipsum Dolor</br> Sit Amet</h2>
							<p>“Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
							<div class="thumb-img m-b20"><img src="images/testimonials/pic2.jpg" alt=""></div>
							<span>-Name Here, Position at Company</span>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Ticket KIt Section End -->
		<!-- Our Services -->
		<div class="section-full content-inner bg-white">
			<div class="container">
				<div class="section-head text-black text-center">
					<h2 class="title-head m-b0">Our Stories</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="text-center wow zoomIn icon-hover-bx" data-wow-delay="0.2s"  data-wow-duration="1s">
							<div class="icon-bx-xl text-primary bg-white radius border-2"> 
								<a href="#" class="icon-cell icon-md"><i class="flaticon-shop"></i></a> 
							</div>
							<div class="icon-content m-t30">
								<h5 class="dez-tilte text-uppercase">Shop</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing  sed diam nibh euismod.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="text-center wow zoomIn icon-hover-bx" data-wow-delay="0.4s"  data-wow-duration="1s">
							<div class="icon-bx-xl text-primary bg-white radius border-2"> 
								<a href="#" class="icon-cell icon-md"><i class="flaticon-star"></i></a> 
							</div>
							<div class="icon-content m-t30">
								<h5 class="dez-tilte text-uppercase">Star</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing  sed diam nibh euismod.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="text-center wow zoomIn icon-hover-bx" data-wow-delay="0.6s"  data-wow-duration="1s">
							<div class="icon-bx-xl text-primary bg-white radius border-2"> 
								<a href="#" class="icon-cell icon-md"><i class="flaticon-play-button"></i></a> 
							</div>
							<div class="icon-content m-t30">
								<h5 class="dez-tilte text-uppercase">Play</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing  sed diam nibh euismod.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="text-center wow zoomIn icon-hover-bx" data-wow-delay="0.8s"  data-wow-duration="1s">
							<div class="icon-bx-xl text-primary bg-white radius border-2"> 
								<a href="#" class="icon-cell icon-md"><i class="flaticon-like"></i></a> 
							</div>
							<div class="icon-content m-t30">
								<h5 class="dez-tilte text-uppercase">Heart</h5>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing  sed diam nibh euismod.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Contact Form -->
		<div class="section-full content-inner bg-primary contact-2" style="background-image:url(assets/bg23.png);">
			<div class="container">
				<div class="row d-flex align-items-center">
					<div class="col-lg-7">
						<div class="wow fadeInLeft" data-wow-delay="0.4s"  data-wow-duration="1s">
							<div class="support-form support-box-form bg-white">
								<div class="support-title m-b30">
									<h6 class="text-uppercase font-weight-500 m-b10">Support</h6>
									<h2 class="font-40 font-weight-400 m-tb0">Need Help?</h2>
								</div>
								<div class="dezPlaceAni">
									<div class="dzFormMsg"></div>
									<form method="post" class="" action="">
									<input type="hidden" value="Contact" name="dzToDo">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-12">
												<div class="form-group">
													<div class="input-group">
														<label>Your Name</label>
														<input name="dzName" type="text" required="" class="form-control" placeholder="">
													</div>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-12">
												<div class="form-group">
													<div class="input-group">
														<label>Phone</label>
														<input name="dzOther[Phone]" type="text" required="" class="form-control" placeholder="">
													</div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-12">
												<div class="form-group">
													<div class="input-group"> 
														<label>Your Email Address</label>
														<input name="dzEmail" type="email" class="form-control" required="" placeholder="">
													</div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-12">
												<div class="form-group">
													<div class="input-group">
														<label>Your Message...</label>
														<textarea name="dzMessage" rows="4" class="form-control" required="" placeholder=""></textarea>
													</div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12">
												<button name="submit" type="submit" value="Submit" class="site-button radius-xl button-md m-t10">Submit Now</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="contact-info-bx p-a30 text-white wow fadeInRight" data-wow-delay="0.8s"  data-wow-duration="1s">
							<div class="m-b10">
								<span>Address</span>
								<h3>123 Street Name<br>City, State 00000</h3>
							</div>
							<div class="m-b10">
								<span>E-mail</span>
								<h3>Info@example.com</h3>
							</div>
							<div class="m-b10">
								<span>Telephone</span>
								<h3>(+01) 123-4020</h3>
							</div>
							<div class="m-b10">
								<span>Fins us on</span>
								<ul class="list-inline socail-icon m-t15 m-a0">
									<li><a href="#" class="site-button white facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="site-button white google-plus"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#" class="site-button white linkedin"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" class="site-button white instagram"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#" class="site-button white twitter"><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Services End -->
		<!-- <div class="section-full content-inner our-stories bg-white">
			<div class="container">
				<div class="section-head text-black text-center">
					<h2 class="title-head m-b0">Our Stories</h2>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="blog-post blog-lg wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="1s">
							<div class="dez-post-media dez-img-effect radius-sm"> 
								<a href="#"><img src="assets/thum5.jpg" alt=""></a> 
							</div>
							<div class="dez-info">
								<div class="dez-post-tags">
									<span>MARKETING</span>
								</div>
								<div class="dez-post-title">
									<h4 class="post-title"><a href="#">In defense of being on the phone all the damn time 24 hours</a></h4>
								</div>
								<div class="dez-post-text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend euismod nibh ut sollicitudin. Morbi eget ullamcorper quam. Pellentesque dui elit, rhoncus gravida ex et, lobortis tempor tortor. Fusce vel imperdiet nulla. Donec quis urna tellus. Sed aliquet, turpis nec vulputate aliquam, ex mi sodales sem mauris.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog-post blog-lg wow fadeIn" data-wow-delay="0.4s"  data-wow-duration="1s">
									<div class="dez-post-media dez-img-effect radius-sm"> 
										<a href="#"><img src="assets/pic5.jpg" alt=""></a> 
									</div>
									<div class="dez-info">
										<div class="dez-post-tags">
											<span>TRENDS</span>
										</div>
										<div class="dez-post-title">
											<h4 class="post-title"><a href="#">The biggest and most awesome...</a></h4>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog-post blog-lg wow fadeIn" data-wow-delay="0.6s"  data-wow-duration="1s">
									<div class="dez-post-media dez-img-effect radius-sm"> 
										<a href="#"><img src="assets/pic6.jpg" alt=""></a> 
									</div>
									<div class="dez-info">
										<div class="dez-post-tags">
											<span>GADGETS</span>
										</div>
										<div class="dez-post-title">
											<h4 class="post-title"><a href="#">Tupac tribute murals and graffi...</a></h4>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog-post blog-lg wow fadeIn" data-wow-delay="0.8s"  data-wow-duration="1s">
									<div class="dez-post-media dez-img-effect radius-sm"> 
										<a href="#"><img src="assets/pic7.jpg" alt=""></a> 
									</div>
									<div class="dez-info">
										<div class="dez-post-tags">
											<span>BUSINESS</span>
										</div>
										<div class="dez-post-title">
											<h4 class="post-title"><a href="#">How to travel the world and get big...</a></h4>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog-post blog-lg wow fadeIn" data-wow-delay="1s"  data-wow-duration="1s">
									<div class="dez-post-media dez-img-effect radius-sm"> 
										<a href="#"><img src="assets/pic8.jpg" alt=""></a> 
									</div>
									<div class="dez-info">
										<div class="dez-post-tags">
											<span>CATEGORY</span>
										</div>
										<div class="dez-post-title">
											<h4 class="post-title"><a href="#">What happens when algorithms...</a></h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Our Stories Blog End -->
		<!-- Contact Form END -->
		<
		<!-- Partners Logo -->
	</div>
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top bg-gray-dark">
            <div class="container">
                <div class="row">
					<div class="col-5 col-lg-2 col-md-6 col-sm-6 footer-col-4">
                        
                    </div>
					<div class="col-7 col-lg-2 col-md-6 col-sm-6 footer-col-4">
                      
                    </div>
					<div class="col-lg-4 col-md-6 col-sm-6 footer-col-4">
                       
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 footer-col-4 ">
                        <div class="widget">
								<small>© Edease 2019 </small>
								<small>KvK Nummer: 58764852</small><br><br>
							<a href="#" class="site-button radius-xl m-b5 m-r5">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up" ></button>
</div>
</div>