
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<ng-template #workmodal style="max-width: 100%">
	<div>
	  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	  </button>
	  <div>
  
		<div class="text-center"><br>
		  <h4>Werk</h4>
		</div>
  
  
	  </div>
	  <div class="modal-body">
		<app-work></app-work>
	  </div>
	</div>
  
  </ng-template>

<div class="bg">
	

<div class="page-wraper">
	<div id="loading-area"></div>
	<!-- header -->
    <header class="site-header header-transparent mo-left">
		
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="index.html" class="dez-page"><img src="assets/logo1b.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    
                    <!-- extra nav -->
                   
							
								<!-- <div class="extra-cell">
										<a href="contact.html" class="dez-page site-button primary">eddie@edease.nl</a>
									</div> -->
                    
                    <!-- main nav -->
                    <div class="nav justify-content-end" style="padding:40px" >
                        	<ul class="nav">
									<li><a pageScroll href="#welcome_wrapper"><b>Home</b>&nbsp;&nbsp;<i class="fa fa-chevron-down" style="color: #00ace0"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
									</li>
									<li><a pageScroll href="#about"><b>Over</b>&nbsp;&nbsp;<i class="fa fa-chevron-down" style="color: #00ace0"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
									</li>
									<li><a pageScroll href="#work"><b>Werk</b>&nbsp;&nbsp;<i class="fa fa-chevron-down" style="color: #00ace0"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
									</li>
									<li><a pageScroll href="#contact"><b>Contact</b>&nbsp;&nbsp;<i class="fa fa-chevron-down" style="color: #00ace0"></i></a>
									</li>
								</ul>	
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content">
		<!-- Slider -->
        <div class="main-slider style-two default-banner" id="home">
            <div class="tp-banner-container">
                <div  class="tp-banner" >
					<div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="reveal-add-on36" data-source="gallery" style="background:#ffffff;padding:0px;">
						<!-- START REVOLUTION SLIDER 5.4.7.2 fullscreen mode -->
							<div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.2">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-101" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img  src="assets/dummy.png"  alt=""  data-lazyload="assets/slide10.jpg" data-bgposition="center center" data-kenburns="on" data-duration="4000" data-ease="Power3.easeInOut" data-scalestart="150" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="4" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<div  class="tp-caption tp-shape tp-shapewrapper ov-tp " 
									id="slide-101-layer-14" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
									data-width="full"
									data-height="full"
									data-whitespace="nowrap"
									data-type="shape" 
									data-basealign="slide" 
									data-responsive_offset="off" 
									data-responsive="off"
									data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]'
									data-textAlign="['inherit','inherit','inherit','inherit']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 5;font-family:Open Sans;"></div>

								
								
								<!-- LAYER NR. 3 -->
								<div class="tp-caption  " 
									id="slide-101-layer-2" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['50','20','10','-40']" 
									data-fontsize="['20','20','20','17']"
									data-lineheight="['30','30','25','22']"
									data-color="['rgba(255,255,255,0.75)','rgba(255,255,255,0.65)','rgba(255,255,255,0.65)','rgba(255,255,255,0.65)']"
									data-width="['640','481','400','300']"
									data-whitespace="normal"
									data-height="['none','none','none','300']"
									data-type="text" 
									data-responsive_offset="off" 
									data-responsive="off"
									data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['center','center','center','center']"
									data-paddingtop="[110,110,110,110]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 7; min-width: 300px; max-width: 640px; white-space: normal; font-size: 15px; line-height: 30px; font-weight: 200; color: rgba(255,255,255,0.75); font-family:'Montserrat',sans-serif;"><img src="assets/laptop-2.png"  alt="Responsive image"></div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption  " 
									id="slide-101-layer-1" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['-40','-80','-80','220']" 
									data-fontsize="['40','40','30','30']"
									data-lineheight="['70','60','60','40']"
									data-width="['700','none','768','300']"
									data-height="none"
									data-whitespace="['normal','nowrap','normal','normal']"
						 
									data-type="text" 
									data-responsive_offset="off" 
									data-responsive="off"
									data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]'
									data-textAlign="['center','left','center','center']"
									data-paddingtop="[70,60,60,60]"
									data-paddingright="[10,10,0,0]"
									data-paddingbottom="[30,30,30,30]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 6; min-width: 700px; max-width: 700px; white-space: normal; font-size: 40px; line-height: 90px; font-weight: 500; color: #ffffff; font-family:'Montserrat',sans-serif;">Alles voor het WEB en verder<br><br><br></div>
							</li>
							<!-- SLIDE  -->
							
						</ul>
						<div  class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
						</div><!-- END REVOLUTION SLIDER -->     
				</div>        
			</div>        
		</div>        
		<!-- Slider END -->
        <!-- About Us -->
		<div id="diensten" class="section-full bg-white p-b30" style="margin-top:20px">
			<div  class="container">
				<div class="row about-1">
					<div class="icon-bx-wraper col-md-4 bg-white col-lg-4 p-tb30 p-l30 p-r50">
						<div class="icon-md m-b20"> 
							<span class="icon-cell">
								<img src="assets/icon3.png" alt="">
							</span> 
						</div>
						<div class="icon-content">
							<h4 class="dez-tilte">Ontwerp</h4>
							<p>Zowel digitaal als drukwerk.<br> Van het ontwerpen van logo's tot en illustraties en videoanimaties</p>
						</div>
                    </div>
                    <div class="icon-bx-wraper bg-primary p-lr30 about-scale text-white col-md-4 col-lg-4 p-tb30">
						<div class="icon-md m-b20"> 
							<span class="icon-cell">
								<img src="assets/icon1.png" alt="">
							</span> 
						</div>
						<div class="icon-content">
							<h4 class="dez-tilte">Webdevelopment & -design</h4>
							<ul class="list-arrow-right m-b0">
								<li><i class="fa fa-arrow-right"></i>Websites & Webapps</li>
								<li><i class="fa fa-arrow-right"></i>Voor elk apparaat geschikt</li>
								<li><i class="fa fa-arrow-right"></i>Frontend, Backend en API's</li>
								<li><i class="fa fa-arrow-right"></i>Maatwerk</li>								
							</ul>
                        </div>
                    </div>
                    <div class="icon-bx-wraper p-l50 p-r30 col-md-4 bg-white col-lg-4 p-tb30">
						<div class="icon-md m-b20"> 
							<span class="icon-cell">
								<img src="assets/icon6.png" alt="">
							</span> 
						</div>
						<div class="icon-content">
							<h4 class="dez-tilte">E-learning</h4>
							<p>Via het zelf ontwikkelde leerplatform (LMS) <a href="https://inervo.nl" target="_blanc" style="color:#eaaf06 !important">Inervo.nl</a>, kan digitaal leren voor bedrijven aangeboden worden.</p>
                        </div>
                    </div>
				</div>
			</div>	
		</div>

		<section id="about" class="section bg-white overflow-hidden">
				<div class="container" style="padding-top: 150px; padding-bottom: 150px;">
				  <div class="row gap-y align-items-center">
					
					
			
			
					<div class="col-md-8">
							<h3 style="color:#215379 !important">Over</h3><br>
					  <p>Welkom, als ZZP'er ondersteun ik bedrijven met het bedenken, ontwerpen en realiseren van multimediaoplossingen. Ik heb al 10+ jaar ervaring op het gebied van Webdevelopment & Digitaal ontwerp en heb al voor vele tevreden klanten mogen werken.
						<br><br>
						Ik houd mij vooral bezig met op maat gemaakte webapplicaties. Andere opdrachten variëren van het opzetten voor een website, opmaken van flyers, productie van een videoanimatie, tot het maken van een game. Deze mix van ontwerp en techniek zorgt voor brede inzetbaarheid is tevens mijn kracht als zelfstandige.
						<br><br>
						Neem gerust <b><a pageScroll href="#contact" style="color:#eaaf06 !important">contact</a></b> op als je denkt dat we iets voor elkaar kunnen betekenen.</p>
						
					</div>

					<div class="col-md-4   mx-auto text-center">
							<img style="border:0px" src="assets/shot-2.png" alt="..." data-aos="fade-right">
						  </div>
			
				  </div>
				</div>
			  </section>

			  <section class="section overflow-hidden" style='background-color:#000000e0;color:white'>
					<div class="container" style="padding-top: 150px; padding-bottom: 150px;">
					  <div class="row">
				
						
							<div id="verder1" class="col-md-4 text-center">
									<img style="border:0px" src="assets/shot-3.png" alt="..." data-aos="fade-left">
								  </div>
				
						<div class="col-md-8">
						  <h3 style="color:white">Maatwerk</h3><br>
						  <p>Het wereld wijde web verandert constant. Ik heb al vele jaren ervaring met alles wat zich
							afspeelt op het web, en pas de nieuwste en laatste technieken toe in mijn werk. De sites/applicaties die ik
							codeer kunnen op elk device worden bekeken en zijn razendsnel. <br><br>Als developer ontwikkel ik full-stack. Dat
							wil zeggen dat ik zowel de front-end als de back-end kan verzorgen. Compleet zelfstandig, of ik kan
							meedraaien in een team.</p>
						  <a>
							<hr></a>
						</div>

						

					  </div>
					</div>
				  </section>


		<!-- About Us END -->
		<!-- Our Services -->
		<!-- <div class="section-full content-inner-2 bg-white">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 section-head text-center">
						<h5 class="title-small">Benefits</h5>
						<h2 class="title-head m-b0">Your Objective Choices</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.2s"  data-wow-duration="1s">
						<div class="icon-bx-wraper our-service center">
							
							<div class="icon-lg text-primary m-b20"> 
								<a href="#" class="icon-cell"><img src="assets/icon4.png" alt=""></a> 
							</div>
							<div class="icon-content p-lr50">
								<h5 class="dez-tilte text-uppercase">Experience</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.4s"  data-wow-duration="1s">
						<div class="icon-bx-wraper our-service center">
							<div class="icon-lg text-primary m-b20"> 
								<a href="#" class="icon-cell"><img src="assets/icon5.png" alt=""></a> 
							</div>
							<div class="icon-content p-lr50">
								<h5 class="dez-tilte text-uppercase">Future</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 m-b30 wow fadeInUp" data-wow-delay="0.6s"  data-wow-duration="1s">
						<div class="icon-bx-wraper our-service center">
							<div class="icon-lg text-primary m-b20"> 
								<a href="#" class="icon-cell"><img src="assets/icon6.png" alt=""></a> 
							</div>
							<div class="icon-content p-lr50">
								<h5 class="dez-tilte text-uppercase">passion</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-12 m-t20 text-center">
						<a href="#" class="site-button long-btn radius-xl shadow">ORDER NOW</a>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Our Services END -->
		<!-- Experts END -->
		<section id="work" class="section overflow-hidden workk">
				<div  class="container" style="padding-top: 80px; padding-bottom: 80px;">
				  <br>
					<h4 style="color:white">Werk</h4><br><br>
				  
			
				  <!-- <div data-provide="shuffle">
					<ul class="nav nav-center nav-bold nav-uppercase nav-slash mb-7" data-shuffle="filter">
					  <li class="nav-item">
						<a class="nav-link active" href="#" data-shuffle="button">Alles</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#" data-shuffle="button" data-group="app">Applicaties</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#" data-shuffle="button" data-group="video">Video</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#" data-shuffle="button" data-group="design">Ontwerp</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#" data-shuffle="button" data-group="games">Games</a>
					  </li>
					</ul> -->
			
			
			
				  <div class="row gap-y gap-2">
			
					<br>
					<div *ngFor="let work of workArray| paginate: { itemsPerPage: 8, currentPage: p } ;let i = index "
					  class="col-6 col-lg-3" [attr.data-groups]="work.tags">
					  <a (click)="openModal(workmodal, i)" class="portfolio-1"
						style="cursor: pointer;border:1px; border-radius: 10px">
						<img [src]="work.cover" style="cursor: pointer;border:1px;border-radius: 10px;">
						<div class="portfolio-detail">
							<br>
						  <h5 style="color: white;">{{work.title}}</h5>
						</div>
					  </a>
					  <br>
					</div>
				  </div><br>
				  <div class="text-center">
					<pagination-controls (pageChange)="p = $event" previousLabel="Vorige" nextLabel="Volgende">
					</pagination-controls>
				  </div>
				  <!-- </div> -->
				  <br>
			
				</div>
			  </section>
			


			  <!-- <section class="section bg-gray overflow-hidden">
					<div class="container-fluid">
					  <div class="row gap-y align-items-center">
				
						<div class="col-md-4 mx-auto text-center">
						  <img style="border:0px" src="assets/shot-4.png" alt="..." data-aos="fade-right">
						</div>
				
				
						<div class="col-md-4 mx-auto">
						  <h3 style="color:#215379 !important">Oplossingsgericht</h3>
						  <p>Ik denk graag mee over oplossingen waar bedrijven tegenaan lopen. Gebruiksvriendelijkheid en privacybescherming staat daarmee bij
							mij hoog in het vaandel. Geen poespas dus, de eindgebruiker staat centraal. Qua ontwerp houd ik alles het
							liefst lekker modern en strak. 
						  <br><br>Verder is het een kwestie van de juiste tools gebruiken voor ieder project,
						  en ik ben niet bang om iets nieuws te leren mocht ik iets nog niet kennen.
						</p>
						  <a>
							<hr></a>
						</div>
				
					  </div>
					</div>
				  </section> -->
		
		<!-- Pricing Table END -->
		<!-- Ticket KIt Section -->
		<!-- <div class="section-full content-inner bg-primary" style="background-image:url(images/background/bg22.png); background-position:center;">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5 m-b30">
						<div class="tickit-box bg-white text-center">
							<span class="title">Complete Kit</span>
							<h2 class="price text-primary"><span>$</span>58</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							<a href="#" class="site-button btn-block radius-xl">Get started</a>
						</div>
					</div>
					<div class="col-lg-7 offset-lg-1 col-md-7 text-white m-b30">
						<div class="tickit-info">
							<h2 class="font-50">Lorem Ipsum Dolor</br> Sit Amet</h2>
							<p>“Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
							<div class="thumb-img m-b20"><img src="images/testimonials/pic2.jpg" alt=""></div>
							<span>-Name Here, Position at Company</span>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Ticket KIt Section End -->
		<!-- Our Services -->
		<div class="section-full content-inner bg-white">
			<div class="container">
				<div class="section-head text-black text-center">
					<h4 class=" m-b0">Interesses</h4><br>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="text-center wow zoomIn icon-hover-bx" data-wow-delay="0.2s"  data-wow-duration="1s">
							<div class="icon-bx-xl text-primary bg-white radius border-2"> 
								<a class="icon-cell icon-md"><i class="fa fa-graduation-cap fa-2x"></i></a> 
							</div>
							<div class="icon-content m-t30">
								<h5 class="dez-tilte text-uppercase">E-Learning</h5>
								<p>Ik houd mij veel bezig met het verbeteren van digitaal leren. Naast het eigen ontwikkelde <a href="https://inervo.nl" target="_blanc" style="color:#eaaf06 !important">Inervo.nl</a>, ben ik veel actief voor leeroplossingen binnen de zorg</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="text-center wow zoomIn icon-hover-bx" data-wow-delay="0.6s"  data-wow-duration="1s">
							<div class="icon-bx-xl text-primary bg-white radius border-2"> 
								<a class="icon-cell icon-md"><i class="fa fa-cube fa-2x"></i></a> 
							</div>
							<div class="icon-content m-t30">
								<h5 class="dez-tilte text-uppercase">Open-Source</h5>
								<p>Als groot liefhebber van de Open-Source community, werk ik graag vanuit deze mentaliteit om te delen en te leren van elkaar</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="text-center wow zoomIn icon-hover-bx" data-wow-delay="0.4s"  data-wow-duration="1s">
							<div class="icon-bx-xl text-primary bg-white radius border-2"> 
								<a class="icon-cell icon-md"><i class="fa fa-code fa-2x"></i></a> 
							</div>
							<div class="icon-content m-t30">
								<h5 class="dez-tilte text-uppercase">Webtechnologie</h5>
								<p>Het internet is iets dat bijna altijd om ons heen is, maar wat ook constant onderhevig aan verandering is.</p>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="text-center wow zoomIn icon-hover-bx" data-wow-delay="0.8s"  data-wow-duration="1s">
							<div class="icon-bx-xl text-primary bg-white radius border-2"> 
								<a class="icon-cell icon-md"><i class="fa fa-gamepad fa-2x"></i></a> 
							</div>
							<div class="icon-content m-t30">
								<h5 class="dez-tilte text-uppercase">Play</h5>
								<p>Ik geloof dat als je spelelementen juist verwerkt in systemen, het rendement van de interactie groter is.</p>
							</div>
						</div>
					</div>
					<br>
				</div><br><br>
			</div>
		</div>
		<!-- Contact Form -->
		<div id="contact" class="section-full content-inner bg-primary contact-2">
			<div class="container">
				<div class="row d-flex align-items-center">
					<div class="col-lg-7">
						<div class="wow fadeInLeft" data-wow-delay="0.4s"  data-wow-duration="1s">
							<div class="support-form support-box-form bg-white">
								<div class="support-title m-b30">
									<h6 class="text-uppercase font-weight-500 m-b10">Een vraag? Of gewoon omdat?</h6><br>
									<h3 class="font-40 font-weight-400 m-tb0">Neem contact op!</h3>
								</div>
								
										<a class="btn btn-lg btn-round btn-primary" HREF="mailto:eddie@edease.nl">Stuur een mailtje</a>
										<br><br>
										<p>Ik probeer reageer zo snel mogelijk te reageren</p><br>
										<hr class="w-5 my-7"><br><br>
										<h4 class="mb-6" style="color:#215379 !important"><strong>Bedankt</strong></h4>
										<p class="lead text-muted" style="color:#215379">dat je een kijkje hebt genomen op de site <i
											class="fa fa-heart" style="color:blue"></i></p>
								  
									  
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="contact-info-bx p-a30 text-white wow fadeInRight" data-wow-delay="0.8s"  data-wow-duration="1s">
								
								<div class="m-b10">
									
								</div>
							<div class="m-b10">
								<img src="assets/Eddie Maas.jpg" style="max-width: 200px;" class="rounded-circle">
								<span>Email</span>
								<a HREF="mailto:eddie@edease.nl"><h3 >Eddie@edease.nl</h3></a>
							</div><br>
							<div class="m-b10">
								<span>KVK</span>
								<h3>58764852</h3>
							</div>
							<br>
							<div class="m-b10">
									<div class="col-auto col-lg-5 text-right">
											<!-- <a class="btn btn-sm btn-round btn-outline-success d-none d-lg-inline-block mr-2" href="">Sign in</a> -->
											<a class="fa fa-github fa-2x" href="https://github.com/eddieedease" target="_blank"></a>
										  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br><br><br><br><br>
		</div>
		<!-- Our Services End -->
		<!-- <div class="section-full content-inner our-stories bg-white">
			<div class="container">
				<div class="section-head text-black text-center">
					<h2 class="title-head m-b0">Our Stories</h2>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="blog-post blog-lg wow fadeIn" data-wow-delay="0.2s"  data-wow-duration="1s">
							<div class="dez-post-media dez-img-effect radius-sm"> 
								<a href="#"><img src="assets/thum5.jpg" alt=""></a> 
							</div>
							<div class="dez-info">
								<div class="dez-post-tags">
									<span>MARKETING</span>
								</div>
								<div class="dez-post-title">
									<h4 class="post-title"><a href="#">In defense of being on the phone all the damn time 24 hours</a></h4>
								</div>
								<div class="dez-post-text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend euismod nibh ut sollicitudin. Morbi eget ullamcorper quam. Pellentesque dui elit, rhoncus gravida ex et, lobortis tempor tortor. Fusce vel imperdiet nulla. Donec quis urna tellus. Sed aliquet, turpis nec vulputate aliquam, ex mi sodales sem mauris.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog-post blog-lg wow fadeIn" data-wow-delay="0.4s"  data-wow-duration="1s">
									<div class="dez-post-media dez-img-effect radius-sm"> 
										<a href="#"><img src="assets/pic5.jpg" alt=""></a> 
									</div>
									<div class="dez-info">
										<div class="dez-post-tags">
											<span>TRENDS</span>
										</div>
										<div class="dez-post-title">
											<h4 class="post-title"><a href="#">The biggest and most awesome...</a></h4>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog-post blog-lg wow fadeIn" data-wow-delay="0.6s"  data-wow-duration="1s">
									<div class="dez-post-media dez-img-effect radius-sm"> 
										<a href="#"><img src="assets/pic6.jpg" alt=""></a> 
									</div>
									<div class="dez-info">
										<div class="dez-post-tags">
											<span>GADGETS</span>
										</div>
										<div class="dez-post-title">
											<h4 class="post-title"><a href="#">Tupac tribute murals and graffi...</a></h4>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog-post blog-lg wow fadeIn" data-wow-delay="0.8s"  data-wow-duration="1s">
									<div class="dez-post-media dez-img-effect radius-sm"> 
										<a href="#"><img src="assets/pic7.jpg" alt=""></a> 
									</div>
									<div class="dez-info">
										<div class="dez-post-tags">
											<span>BUSINESS</span>
										</div>W
										<div class="dez-post-title">
											<h4 class="post-title"><a href="#">How to travel the world and get big...</a></h4>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="blog-post blog-lg wow fadeIn" data-wow-delay="1s"  data-wow-duration="1s">
									<div class="dez-post-media dez-img-effect radius-sm"> 
										<a href="#"><img src="assets/pic8.jpg" alt=""></a> 
									</div>
									<div class="dez-info">
										<div class="dez-post-tags">
											<span>CATEGORY</span>
										</div>
										<div class="dez-post-title">
											<h4 class="post-title"><a href="#">What happens when algorithms...</a></h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Our Stories Blog End -->
		<!-- Contact Form END -->
		<!-- Partners Logo -->
	</div>
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top bg-gray-dark">
            <div class="container">
                <!-- <div class="row">
					<div class="col-5 col-lg-2 col-md-6 col-sm-6 footer-col-4">
                        
                    </div>
					<div class="col-7 col-lg-2 col-md-6 col-sm-6 footer-col-4">
                      
                    </div>
					<div class="col-lg-4 col-md-6 col-sm-6 footer-col-4">
                       
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 footer-col-4 ">
                        <div class="widget">
								<small>© Edease 2019 </small>
								<small>KvK Nummer: 58764852</small><br><br>
							<a href="#" class="site-button radius-xl m-b5 m-r5">Github</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up" ></button>
</div>
</div>