
<div class="text-center">
  <p>Navigatie</p>
<div class="btn-group">
<button (click)="cycleWork('prev')" width="300" type="button" class="btn btn-primary"><  Vorige</button>

<button (click)="cycleWork('next')"  width="300" type="button" class="btn btn-primary">Volgende></button>
</div></div>
<br><br>


<div class="container">
<div class="row">
  <div class="col-12">


    <h4>{{currentTitle}}</h4>
    <hr>
    <p><b>Klant:</b> {{currentCustomer}}</p>
    <div>
      <p [innerHTML]="workContentText">
      </p>
    </div>
    <div class="divider"></div>
    <div class="">
      <b> &nbsp;&nbsp;{{currentTags}} &nbsp; &nbsp;</b>
    </div>
    

<br>
 
  <div class="text-center" style="color:black !important;border:1px;background-color: #045e7b;" ><br>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery><br><br>
  </div>

</div>
</div>
