

<button (click)="cycleWork('prev')" type="button" class="btn btn-primary">< Vorig</button>

<button (click)="cycleWork('next')"  style="float:right" type="button" class="btn btn-primary">Volgend ></button>
<br><br>


<div class="container-fluid">
<div class="row">
  <div class="col-12 col-md-7">
 
  <div style="color:black !important">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>

</div>
<div class="col-12 col-md-5">

  <h4>{{currentTitle}}</h4>
  <hr>
  <p><b>Klant:</b> {{currentCustomer}}</p>
  <div>
    <p [innerHTML]="workContentText">
    </p>
  </div>
  <div class="divider"></div>
  <div class="">
    <b> &nbsp;&nbsp;{{currentTags}} &nbsp; &nbsp;</b>
  </div>

  <br><br>
</div></div>
