
<div class="text-center">
  
<div class="btn-group">
<button (click)="cycleWork('prev')" width="300" type="button" class="btn btn-lg btn-primary">&nbsp;<&nbsp;</button>
&nbsp;&nbsp;&nbsp;
<button (click)="cycleWork('next')"  width="300" type="button" class="btn btn-lg btn-primary">&nbsp;>&nbsp;</button>
</div></div>

<br><br>
<div class="container">
<div class="row">
  <div class="col-12">


    <h4><b>{{currentTitle}}</b></h4>
    <hr><br>
    <b>Klant:</b> <p [innerHTML]="currentCustomer"></p>
    <b>Info:</b>
    <div>
      <p [innerHTML]="workContentText">
      </p>
    </div><br>
    <hr>
  <!--   <div class=""><br>
      Tags; <b> &nbsp;&nbsp;{{currentTags}} &nbsp; &nbsp;</b>
    </div> -->
    


 
  <div class="text-center" style="color:black !important;border:1px;background-color: #e4edf0;" ><br>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery><br><br>
  </div>

</div>
</div>
